section.contact {
  height: 100vh;
  width: 100%;
  position: relative;
  .contact-container {
    width: 66.67%;
    margin-left: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }
  .contact-text-container {
    p {
      text-transform: uppercase !important;
      font-size: 0.8vw !important;
    }
    // padding-top: 5vh;
    font-weight: 1000;
  }
  .contact-content {
    width: 33.33%;
    height: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    .contact-number {
      color: rgb(var(--tertiary));
      font-size: 1.2vw;
      font-family: "Fivo", sans-serif;
    }
    .contact-head {
      font-size: 2.4vw;
      font-family: "Fivo", sans-serif;
      text-transform: uppercase;
      color: rgb(var(--primary));
    }
    .contact-text {
      pointer-events: all;
      text-transform: capitalize;
      &:hover {
        color: rgb(var(--tertiary));
      }
    }
    .follow {
      text-transform: uppercase;
    }
  }
}

section.contact-footer {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10 !important;
  .footer-left {
    visibility: hidden;
    opacity: 0;
  }
  .footer-right {
    border-top: 2px solid rgb(var(--primary));
  }
}
