input {
  pointer-events: all;
  font-size: 1.6vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  cursor: text;
}
input[type="email"],
input[type="text"] {
  color: rgba(var(--secondary), 0.33);
  height: 8vh;
  width: 66.67%;
  border: 0;
  border-bottom: 2px solid rgba(var(--secondary), 0.33);
  outline: 0;
  background-color: transparent;
}
input::placeholder {
  color: rgba(var(--secondary), 0.33);
}
input:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
input:-webkit-autofill::first-line {
  color: rgba(var(--secondary), 1);
  -webkit-text-fill-color: rgba(var(--secondary), 1);
  border-bottom: 2px solid rgba(var(--secondary), 1);
  -webkit-box-shadow: 0px;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 1.6vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
}

.btn {
  padding: 0 1vw;
  font-size: 1.6vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  outline: none;
  pointer-events: all;
  color: rgb(var(--secondary));
  background-color: rgb(var(--primary));
  text-transform: uppercase;
  border: 0;
  height: 8vh;
  cursor: pointer;
  &:hover {
    background-color: rgb(var(--secondary));
    color: rgb(var(--primary));
  }
}
