// ................................
// ................................ HERO
// ................................
section.hero {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 5vw;
  & > h4 {
    margin-top: 20vh;
    @include phone {
      margin-top: 25vh;
    }
  }
  .overflow {
    overflow: hidden;
    position: relative;
  }
  .overflow-build {
    padding: 1rem 1rem 0 1rem !important;
  }
  h4 {
    display: flex;
    .slide-in {
      transform: translateY(20vh);
    }
  }
  .slide-in-in {
    transform: translateY(20vh);
    position: relative;
    z-index: 3;
  }
  .check {
    letter-spacing: -0.2rem;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0%;
    left: 0%;
    z-index: 2;
    background-color: rgb(var(--tertiary));
  }
}

.color {
  color: rgb(var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  vertical-align: baseline;
  letter-spacing: -0.2rem;
  position: relative;

  svg {
    position: absolute;
    top: -1.5vw;
    right: -1.5vw;
    height: 3.2vw;
    @include bigtab {
      height: 4vw;
    }
    @include phone {
      height: 5.6vw;
      padding: 1.2vw;
    }
    color: rgb(var(--tertiary));
    background-color: rgb(var(--background));
    border-radius: 100000px;
    padding: 0.9vw;
    // animation: rotate 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    opacity: 0;
    pointer-events: all;
    &:focus {
      border: 0px;
      outline: 0px;
    }
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 5vh;
  right: 3vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  img {
    height: 25vh;
  }
  &__text {
    height: 25vh;
    writing-mode: vertical-rl;
    margin: auto 0;
    transform: rotate(180deg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2vw;
    line-height: 0.1;
    font-family: "Fivo", sans-serif;
    text-transform: uppercase;
    color: rgb(var(--tertiary));
  }
}
// ................................
// ................................ SESSIONS
// ................................

section.sessions {
  width: 100%;
  position: relative;
  padding: 5vw;
  height: 400vh;
  @include bigtab {
    height: 375vh;
  }
  @include phone {
    height: 180vh;
  }

  .img-box {
    position: absolute;
    top: calc(0% + 3vh);
    left: 27.5%;
    bottom: 0%;
    pointer-events: all;
    @include bigtab {
      left: 22.25%;
      top: calc(-3% + 3vh);
    }
    @include phone {
      left: 17.5%;
      top: calc(-10% + 1vh);
    }
    &:nth-of-type(1) {
      transform: translate(-10vw, 25vh);
      z-index: 2;
      @include phone {
        transform: translate(-10vw, 25vh);
      }
    }
    &:nth-of-type(2) {
      transform: translate(5vw, 50vh);
      z-index: 3;
      @include phone {
        transform: translate(5vw, 35vh);
      }
    }
    &:nth-of-type(3) {
      transform: translate(20vw, 75vh);
      z-index: 4;
      @include phone {
        transform: translate(20vw, 45vh);
      }
    }
    &:nth-of-type(4) {
      transform: translate(35vw, 100vh);
      z-index: 5;
      @include phone {
        transform: translate(35vw, 55vh);
      }
    }
    &:nth-of-type(5) {
      transform: translate(20vw, 125vh);
      z-index: 5;
      @include phone {
        transform: translate(20vw, 65vh);
      }
    }
    &:nth-of-type(6) {
      transform: translate(5vw, 150vh);
      z-index: 5;
      @include phone {
        transform: translate(5vw, 75vh);
      }
    }
    &:nth-of-type(7) {
      transform: translate(-10vw, 175vh);
      z-index: 5;
      @include phone {
        transform: translate(-10vw, 85vh);
      }
    }
    &:nth-of-type(8) {
      transform: translate(5vw, 200vh);
      z-index: 5;
      @include phone {
        transform: translate(5vw, 95vh);
      }
    }
    &:nth-of-type(9) {
      transform: translate(20vw, 225vh);
      z-index: 5;
      @include phone {
        transform: translate(20vw, 105vh);
      }
    }
    &:nth-of-type(10) {
      transform: translate(35vw, 250vh);
      z-index: 5;
      @include phone {
        transform: translate(35vw, 115vh);
      }
    }
    &:nth-of-type(11) {
      transform: translate(20vw, 275vh);
      z-index: 5;
      @include phone {
        transform: translate(20vw, 125vh);
      }
    }
    &:nth-of-type(12) {
      transform: translate(5vw, 300vh);
      z-index: 5;
      @include phone {
        transform: translate(5vw, 135vh);
      }
    }
    &:nth-of-type(13) {
      transform: translate(-10vw, 325vh);
      z-index: 5;
      @include phone {
        transform: translate(-10vw, 145vh);
      }
    }
  }
}

// ................................
// ................................ METRICS
// ................................
section.metrics {
  padding: 5vw;
  width: 100%;
  position: relative;
  pointer-events: all;
  h2 {
    width: 70%;
    @include phone {
      width: 80%;
    }
  }
  .subhead {
    margin-top: 3vh;
    width: 70%;
    text-align: justify;
    @include phone {
      width: 80%;
      margin-top: 1vh;
    }
  }
  .metrics-content {
    display: flex;
    margin-top: 10vh;
    width: 75%;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    @include phone {
      width: 100%;
      gap: 5%;
    }

    &--left {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 20vh;
      @include phone {
        height: 15vh;
        width: 25%;
        justify-content: flex-start;
      }

      .number {
        color: rgb(var(--secondary));
        font-size: 1.2vw;
        font-family: "Fivo", sans-serif;
        @include bigtab {
          font-size: 1.6vw;
        }
        @include phone {
          font-size: 3.2vw;
        }
      }
      .metrics-number {
        color: rgb(var(--tertiary));
        font-size: 2.4vw;
        font-family: "Fivo", sans-serif;
        @include bigtab {
          font-size: 2.8vw;
        }
        @include phone {
          font-size: 4.8vw;
        }
      }
      .metrics-title {
        font-size: 2.4vw;
        font-family: "Fivo", sans-serif;
        text-transform: capitalize;
        color: rgb(var(--primary));
        @include bigtab {
          font-size: 2.8vw;
        }
        @include phone {
          font-size: 4.8vw;
        }
      }
    }
    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20vh;
      font-size: 1.2vw;
      text-align: justify;
      @include bigtab {
        font-size: 1.6vw;
      }
      @include phone {
        height: 15vh;
        align-items: flex-start;
        font-size: 3.2vw;
        width: 75%;
      }
    }
  }
}
// ................................
// ................................ MAIL
// ................................
section.mail {
  padding: 5vw;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  .subhead {
    width: 100%;
    text-align: justify;
  }
  .mailbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    flex-wrap: wrap;
    margin-top: 3vh;
    @include phone {
      margin-top: 1vh;
      flex-direction: column;
    }
    &--left {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 50%;
      @include phone {
        width: 100%;
      }
      .mail-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 3vh;
        @include phone {
          margin-top: 3vh;
        }
      }
    }
    &--right {
      width: 50%;
      @include phone {
        width: 100%;
      }
    }
  }

  .picture-lib {
    width: 50%;
    margin: auto;
    position: relative;
    pointer-events: all;
    @include phone {
      display: none;
    }
    .img {
      height: 50vh;
      width: 20vw;
      @include bigtab {
        height: 35vh;
        width: 30vw;
      }
      @include phone {
        height: 35vh;
        width: 40vw;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .mg-box:nth-of-type(1) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(7deg) translate(-0%, calc(-50% - 5vw));
      @include bigtab {
        transform: rotate(5deg) translate(-0%, calc(-50% - 5vw));
      }
    }
    .mg-box:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-7deg) translate(-0%, calc(-50% - 5vw));
      @include bigtab {
        transform: rotate(-5deg) translate(-0%, calc(-50% - 5vw));
      }
    }
    .mg-box:nth-of-type(3) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0deg) translate(-0%, calc(-50% - 5vw));
    }
  }
}
