// ................................
// ................................ HERO
// ................................
section.hero {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 5vw;
  & > h4 {
    margin-top: 20vh;
  }
  .overflow {
    overflow: hidden;
    position: relative;
  }
  .overflow-build {
    padding: 1rem 1rem 0 1rem !important;
  }
  h4 {
    display: flex;
    .slide-in {
      transform: translateY(20vh);
    }
  }
  .slide-in-in {
    transform: translateY(20vh);
    position: relative;
    z-index: 3;
  }
  .check {
    letter-spacing: -0.2rem;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0%;
    left: 0%;
    z-index: 2;
    background-color: rgb(var(--tertiary));
  }
}

.color {
  color: rgb(var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  vertical-align: baseline;
  letter-spacing: -0.2rem;
  position: relative;

  svg {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    height: 3.2vw;
    color: rgb(var(--tertiary));
    background-color: rgb(var(--background));
    border-radius: 100000px;
    padding: 0.8rem;
    // animation: rotate 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    opacity: 0;
    pointer-events: all;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 5vh;
  right: 3vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  img {
    height: 25vh;
  }
  &__text {
    height: 25vh;
    writing-mode: vertical-rl;
    margin: auto 0;
    transform: rotate(180deg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2vw;
    line-height: 0.1;
    font-family: "Fivo", sans-serif;
    text-transform: uppercase;
    color: rgb(var(--tertiary));
  }
}
// ................................
// ................................ SESSIONS
// ................................

section.sessions {
  width: 100%;
  position: relative;
  padding: 5vw;
  height: 400vh;
  .img-box {
    position: absolute;
    top: 0%;
    left: 27.5%;
    bottom: 0%;
    pointer-events: all;

    &:nth-of-type(1) {
      transform: translate(-10vw, 25vh);
      z-index: 2;
    }
    &:nth-of-type(2) {
      transform: translate(5vw, 50vh);
      z-index: 3;
    }
    &:nth-of-type(3) {
      transform: translate(20vw, 75vh);
      z-index: 4;
    }
    &:nth-of-type(4) {
      transform: translate(35vw, 100vh);
      z-index: 5;
    }
    &:nth-of-type(5) {
      transform: translate(20vw, 125vh);
      z-index: 5;
    }
    &:nth-of-type(6) {
      transform: translate(5vw, 150vh);
      z-index: 5;
    }
    &:nth-of-type(7) {
      transform: translate(-10vw, 175vh);
      z-index: 5;
    }
    &:nth-of-type(8) {
      transform: translate(5vw, 200vh);
      z-index: 5;
    }
    &:nth-of-type(9) {
      transform: translate(20vw, 225vh);
      z-index: 5;
    }
    &:nth-of-type(10) {
      transform: translate(35vw, 250vh);
      z-index: 5;
    }
    &:nth-of-type(11) {
      transform: translate(20vw, 275vh);
      z-index: 5;
    }
    &:nth-of-type(12) {
      transform: translate(5vw, 300vh);
      z-index: 5;
    }
    &:nth-of-type(13) {
      transform: translate(-10vw, 325vh);
      z-index: 5;
    }
  }
}

// ................................
// ................................ METRICS
// ................................
section.metrics {
  padding: 5vw;
  width: 100%;
  position: relative;

  .subhead {
    margin-top: 5vh;
    width: 50%;
    text-align: justify;
  }
  .metrics-content {
    display: flex;
    margin-top: 10vh;
    width: 75%;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    &--left {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 20vh;
      .number {
        color: rgb(var(--secondary));
        font-size: 1.2vw;
        font-family: "Fivo", sans-serif;
      }
      .metrics-number {
        color: rgb(var(--tertiary));
        font-size: 2.4vw;
        font-family: "Fivo", sans-serif;
      }
      .metrics-title {
        font-size: 2.4vw;
        font-family: "Fivo", sans-serif;
        text-transform: capitalize;
        color: rgb(var(--primary));
      }
    }
    &--right {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20vh;
      font-size: 1.2vw;
      text-align: justify;
    }
  }
}
// ................................
// ................................ MAIL
// ................................
section.mail {
  padding: 5vw;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .subhead {
    width: 100%;
    text-align: justify;
  }
  .mailbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    &--left {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 50%;
      .mail-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 5vh;
      }
    }
    &--right {
      width: 50%;
    }
  }

  .picture-lib {
    width: 50%;
    margin: auto;
    position: relative;
    pointer-events: all;

    .img {
      height: 50vh;
      width: 20vw;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .mg-box:nth-of-type(1) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(7deg) translate(-0%, -50%);
    }
    .mg-box:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-7deg) translate(-0%, -50%);
    }
    .mg-box:nth-of-type(3) {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(0deg) translate(-0%, -50%);
    }
  }
}
