nav {
  position: fixed;
  top: 3vh;
  right: 3vh;
  z-index: 100;
  display: flex;
  pointer-events: none;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: auto;
  pointer-events: all;
  .nav-toggle-container {
    width: 12vw;
    color: rgb(var(--background));
    background-color: rgb(var(--primary));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    pointer-events: all;
    height: 3vw !important;

    @include bigtab {
      height: 5vw !important;
      width: 5vw;
      margin-left: auto;
      .nav-title {
        visibility: hidden;
        opacity: 0;
      }
      .nav-cut {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  span {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 1000;
    line-height: 3;
    font-family: "Fivo", sans-serif;
    text-align: center;
  }
  ul {
    padding: 1vw 1vw 2vw 1vw !important;
    width: 12vw;
    border: 3px solid rgb(var(--primary));
    border-top: 0px solid rgb(var(--primary));
    list-style: none;
    display: flex;
    align-items: flex-start !important;
    justify-content: center !important;
    flex-direction: column;
    gap: 1vh;
    background-color: rgb(var(--background));
    @include bigtab {
      width: 15vw;
      visibility: hidden;
      opacity: 0;
    }
    li {
      a {
        text-decoration: none;
        color: rgb(var(--primary));
        text-transform: uppercase;
        font-weight: 1000;
        font-family: "Vietnam", sans-serif;
        font-size: 1vw;
        &:hover {
          color: rgb(var(--tertiary));
        }
      }
      pointer-events: all;
    }
  }
}

.nav-box {
  width: auto !important;
  height: auto !important;
  &-container {
    @include bigtab {
      background-color: transparent !important;
    }
  }
}

.nav-toggle-container {
  &:hover,
  &:focus,
  &:active {
    & + ul {
      border: 3px solid rgb(var(--secondary)) !important;
      border-top: 0px solid rgb(var(--secondary)) !important;
    }
  }
}

.nav-title,
.nav-cut {
  height: 3vw !important;
  @include bigtab {
    height: 5vw !important;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  pointer-events: all;
  height: 2.4vw;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  top: 2vh;
  transform: translate(-50%, 0);
  left: 50%;
  svg {
    // transform: translate(0, 20vh);
    height: 2.4vw;
    z-index: 100;
  }
  &:hover svg path {
    animation: colorCycle 1s forwards infinite;
  }
}

@keyframes colorCycle {
  0% {
    fill: rgb(var(--primary));
  }
  33% {
    fill: rgb(var(--secondary));
  }
  66% {
    fill: rgb(var(--tertiary));
  }
  100% {
    fill: rgb(var(--primary));
  }
}
