// .......................tiles
// .......................tiles
// .......................tiles
// .......................tiles
// .......................tiles

.tile:hover {
  stroke: rgba(23, 31, 230, 1);
}

// #tile-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;

//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }
// .tile {
//   flex-shrink: 0;
//   box-sizing: border-box;
//   border: 1px solid rgba(var(--secondary), 0.03);

//   background-color: rgb(var(--background));
//   width: var(--tile-size);
//   height: var(--tile-size);
//   transition: border 20ms ease-in-out;
//   &:hover {
//     border: 1px solid rgba(var(--secondary), 1);
//   }
//   &:not(:hover) {
//     transition-delay: 700ms;
//     transition-timing-function: ease-in-out;
//   }
// }
canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}

// .................transition
// .................transition
// .................transition
// .................transition
// .................transition

ul.transition {
  display: flex;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  list-style: none;
  & li {
    background-color: rgb(var(--secondary));
    width: 20%;
    transform: scaleY(0);
  }
}

// .................img-box
// .................img-box
// .................img-box
// .................img-box
// .................img-box
.img-box-clicked {
  height: 6vh !important;
}
.img-box-container-clicked {
  height: 100% !important;
}
.toggle-container-clicked {
  height: 100% !important;
}
.img-clicked {
  height: 0vh !important;
  padding: 0 !important;
}
.img-content-clicked {
  height: 0vh !important;
  display: none;
}
.img-box {
  width: 20vw;
  height: 50vh;
  pointer-events: all !important;

  &-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0px;
    background-color: rgb(var(--background));
    color: rgb(var(--tertiary));
    text-transform: uppercase;
    font-family: "Fivo", sans-serif;
    .minus {
      height: 0% !important;
    }

    .toggle-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 15%;
      pointer-events: all;

      &:hover {
        background-color: rgb(var(--secondary)) !important;
        color: rgb(var(--primary)) !important;
      }

      .img-cut {
        margin: 0vh 1vh;
        // height: 100%;
      }
      .img-title {
        font-size: 1vw;
        font-weight: 1000;
        margin: 0vh 1vh;
        background-color: transparent;
        // height: 100%;
      }
    }
    .toggle-container-clicked + .img {
      // display: none !important;
      visibility: hidden;
      opacity: 0;
    }

    .toggle-container-clicked ~ .img-content {
      // display: none !important;
      visibility: hidden;
      opacity: 0;
    }

    .img-content {
      font-size: 1vw;
      font-weight: 1000;
      display: inline-block;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15%;
      color: rgb(var(--primary));
    }
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40%;
      padding-bottom: 40%;
      position: relative;
      overflow: hidden;
      &-src {
        padding-top: 50%;
        padding-bottom: 50%;
      }
      img {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
      span {
        font-size: 3.2vw;
      }

      color: rgb(var(--background));
    }
  }
}

// ................................
// ................................ CURSOR TEXT
// ................................
.cursor-hover {
  font-size: 0.8vw;
  padding: 0.4vw 0.4vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  background-color: rgb(var(--tertiary));
  color: rgb(var(--background));
  z-index: 1000;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  pointer-events: all;
}

// ...........................
.btn-reveal {
  position: fixed;
  // margin-top: 50vh;
  top: 50vh;
  left: 50vw;
  // margin-left: 50vw;
  transform: translate(-50%, -50%) !important;
  color: rgba(var(--primary), 1);
  z-index: 220;
  background: none;
  border: none;
  outline: none;
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 3.2vw;
  cursor: pointer !important;
  font-family: "Fivo Sans Modern";
  pointer-events: all;
}

.text-container {
  display: flex;
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100%;
  list-style: none;
}
.text-container li {
  background: rgb(var(--secondary));
  width: 20%;
  transform: scaleY(1);
}

.text-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  z-index: 210;
}

.text {
  width: 300%;
  font-family: "Fivo Sans Modern";
  font-size: 3.5vw;
  text-transform: uppercase;
  opacity: 0.1;
  color: rgb(var(--primary));
}
