doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Index
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // links
  link(rel='stylesheet' type='text/css' media='screen' href='../static/css/styles.css')
  link(rel='stylesheet' media='screen' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css')
  // scripts
  script(src='https://unpkg.com/@barba/core')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js')
  script(src='https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js')
  script(defer src='../static/js/app.js')

// 
// 
// 
body(data-barba="wrapper" data-scroll-container id="scroll-container")
  
  // tiles
  #tile-container
  // transition
  ul.transition(data-scroll data-scroll-sticky data-scroll-target="#scroll-container")
    li
    li
    li
    li
    li
  // navigation
  nav(data-scroll data-scroll-sticky data-scroll-target="#scroll-container")
    span dashboard
    ul
      li
        a(href='../templates/index.html') Home
      li
        a(href='../templates/gallery.html') Gallery
      li
        a(href='../templates/about.html') About Us
      li
        a(href='../templates/about.html') Contact
  // main with sections
  //- section.gallery1(class="hidden")
  //-   #gallery-container
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHJhbmRvbSUyMG9iamVjdHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1515266591878-f93e32bc5937?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGJsdWV8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1587590227264-0ac64ce63ce8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tJTIwb2JqZWN0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1520121401995-928cd50d4e27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3JlZW58ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cHVycGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8b3JhbmdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1520338258525-606b90f95b04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGRhcmslMjBibHVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1521127474489-d524412fd439?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fHJhbmRvbSUyMG9iamVjdHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=70')
  //-     .gallery-box
  //-       img(src='https://images.unsplash.com/photo-1598300042247-d088f8ab3a91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cmFuZG9tJTIwb2JqZWN0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=70')
    
  main(data-barba='container' data-barba-namespace='index')
    section.carousel
      //- img(class="cutout l" src="../temporary/cutoutl.svg", alt="vectors", srcset="")
      object(class="cutout l" type="image/svg+xml" data="../temporary/cutoutl.svg", alt="vectors", srcset="")
      ul 
          li
              h1 about
          li
              h1 algocs
          li
              h1 about
          li
              h1 algocs
          li
              h1 about
          li
              h1 algocs
          li
              h1 about
          li
              h1 algocs
    section.about
      div.about__left
        h4 our journey
        h2 where it all began
        p 
          | Praesent egestas varius felis. Integer aliquet venenatis elit et ornare. Nam ut blandit lectus. Mauris a sem tempor, posuere dolor imperdiet, egestas est. Fusce ipsum neque, pretium sed felis a, accumsan commodo tellus. Vivamus eu risus eget erat tincidunt efficitur. 
          br
          br
          | Nam consequat ipsum neque, sit amet lobortis nisi dignissim ac. Sed turpis lectus, tempus nec imperdiet ut, laoreet nec orci. Etiam vitae dolor bibendum, tristique risus non, volutpat odio. Aliquam sagittis turpis et faucibus tempus. Duis a venenatis libero, sed ullamcorper nunc. Fusce nisl ante, venenatis eu sollicitudin vel, sagittis sed felis. Praesent tempus lacus eget feugiat finibus. Etiam eget urna maximus, commodo libero mattis, rutrum leo. Vestibulum laoreet velit sed nibh porta, eget consequat ligula lacinia. Phasellus id sodales massa.
      div.about__right
        div.img-box
          div(class="img-box-container" tabindex="0")
            div(class="toggle-container")
              div(class="img-cut") &mdash;
              div(class="img-title") sample img
            div(class="img img-src tertiary")
              img(src="../static/img/sample_img.png" alt="image of jappreet")
            div(class="img-content") sample img
        div.img-box
            div(class="img-box-container" tabindex="0")
              div(class="toggle-container toggle-container-src")
                div(class="img-cut") &mdash;
                div(class="img-title") sample img
              div(class="img img-src primary")
                img(src="../static/img/sample_img.png" alt="image of jappreet")
              div(class="img-content img-content-src") sample img
        

    