doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Index
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // links
  link(rel='stylesheet' type='text/css' media='screen' href='../static/css/styles.css')
  link(rel='stylesheet' media='screen' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css')
  // scripts
  script(src='https://unpkg.com/@barba/core')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js')
  script(src='https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js')
  script(defer src='../static/js/app.js')

// 
// 
// 
body(data-barba="wrapper" data-scroll-container id="scroll-container")

  // tiles
  canvas#canvas
  //- #tile-container
  // transition
  ul.transition(data-scroll data-scroll-sticky data-scroll-target="#scroll-container")
    li
    li
    li
    li
    li

  // navigation
  nav(data-scroll data-scroll-sticky data-scroll-target="#scroll-container" )
    span dashboard
    ul
      li
        a(href='../templates/index.html') Home
      li
        a(href='../templates/gallery.html') Gallery
      li
        a(href='../templates/about.html') About Us
      li
        a(href='../templates/contact.html') Contact
  //- .logo(data-scroll data-scroll-sticky data-scroll-target="#scroll-container")
  //-   | algocs


  // main with sections

  main(data-barba='container' data-barba-namespace='contact')
    section.contact
      object(class="cutout l" type="image/svg+xml" data="../temporary/cutoutl.svg" alt="vectors" srcset="")
      .contact-container
        .contact-content
          div
            .contact-number 01
            .contact-head locate us
          .contact-text-container
            p.contact-text xyz address,
              br
              | new delhi - 1100XX

        .contact-content
          div
            .contact-number 02
            .contact-head reach us
          .contact-text-container
            p(class="contact-text hoverable" data-trailer-content="anmol.wri@gmail.com") general
            p(class="contact-text hoverable" data-trailer-content="+91 9999040232") talk

        .contact-content
          div
            .contact-number 03
            .contact-head follow us
          .contact-text-container
            p(class="contact-text follow hoverable" data-trailer-content="") linkedin
            p(class="contact-text follow hoverable" data-trailer-content="") twitter
            p(class="contact-text follow hoverable" data-trailer-content="") developer

    section.footer.contact-footer
      .footer-left
        .footer-head
          h5.footer-head-first
            span.foot-color build 
            |&nbsp;your 
          h5 path to
          h5 success
        .footer-content 
          .footer-content__contact
            h6 contact us
            p(class="hoverable" data-trailer-content="Nice to meet you") hello@gmail.com
          .footer-content__follow
            h6 follow us
            p(class="hoverable" data-trailer-content="Let's Conect") linkedin
          .footer-content__locate
            h6 locate us
            p(class="hoverable" data-trailer-content="See you soon") xyz address
      .footer-right
        .footer-copyright 
          p &copy; algocs 2023
        .footer-statement
          .footer-privacy 
            p privacy statement
          .footer-legal 
            p legal statement

