doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Index
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // links
  link(rel='stylesheet' type='text/css' media='screen' href='../static/css/styles.css')
  link(rel='stylesheet' media='screen' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css')
  // scripts
  script(src='https://unpkg.com/@barba/core')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js')
  script(src='https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js')
  script(defer src='../static/js/app.js')

// 
// 
// 
body(data-barba="wrapper" data-scroll-container id="scroll-container")
  // tiles
  #tile-container
  // transition
  ul.transition(data-scroll data-scroll-sticky data-scroll-target="#scroll-container")
    li
    li
    li
    li
    li
  
  // navigation
  nav(data-scroll data-scroll-sticky data-scroll-target="#scroll-container" )
    span dashboard
    ul
      li
        a(href='../templates/index.html') Home
      li
        a(href='../templates/about.html') Events
      li
        a(href='../templates/about.html') About Us
      li
        a(href='../templates/about.html') Contact
  // main with sections
  main(data-barba='container' data-barba-namespace='index')
    section.hero
      h4 This&nbsp;is&nbsp;algocs
      h1
        span.color
          | build
          svg(viewbox='0 0 10 10' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(d='m3.871 8.473 1.819.255.225-1.604-.064-1.1.016-.107.099.069.727.838 1.278.998 1.13-1.45-1.277-.997-.994-.495-.1-.068.146-.061 1.065-.205 1.503-.607-.688-1.705-1.503.606-.93.606-.115.038.02-.133.363-1.04.226-1.604L4.999.451l-.226 1.605.064 1.1-.023.16-.122-.1-.7-.834-1.278-.997-1.131 1.45 1.278.997.967.49.122.1-.114.038-1.092.2-1.503.607.687 1.706 1.503-.607.93-.606.115-.038-.015.107-.364 1.04-.226 1.604Z')
        | your
      h1 path to
      h1 success
      // scroll indicator
      div.scroll-indicator
        div.scroll-indicator__text 
          div scroll
        img(class="indicator" src="../temporary/arrow.svg", alt="arrow img")
          
    section.carousel
      img(class="cutout r" src="../temporary/cutoutr.svg", alt="vectors", srcset="")
      ul 
          li
              h1 build
          li
              h1 create
          li
              h1 make
          li
              h1 raise
          li
              h1 build
          li
              h1 create
          li
              h1 make
          li
              h1 raise
    section.sessions
      h4 why you need us
      h2 we host sessions on
      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img primary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")
      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img secondary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")
      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img tertiary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")
      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img primary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")
      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img secondary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")
      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img tertiary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")

      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img primary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")

      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img secondary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")

      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img tertiary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")

      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img primary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")

      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img secondary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")


      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img tertiary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")

      div.img-box
        div
          div(class="img-cut") &mdash;
          div(class="img-title") sample img
          div(class="img primary")
            img(src="../static/img/sample_img2.png" alt="image of jappreet")
    section.sesction
          h4 why you need us
          h2 we host sessions on

      
    