{% extends 'main.html' %} {% load static %} {% block content %}

<!-- main with sections-->
<main>
  <!-- splide carousel -->
  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
      </ul>
    </div>
    <img class="cutout r" src="../static/img/cutoutr.svg" alt="cutout-right" />
  </section>

  <section class="about">
    <div class="about__left">
      <h4>our journey</h4>
      <h2>where it all began</h2>
      <p>
        I am building FOUNDATION for the FUTURE in the form of ALGOCS. I have
        started with an intent to support others in developing consistency in
        learning, by providing everybody with equal opportunities and bridging
        the gap between Tier-1 & Tier-3 colleges.
        <br />
        <br />
        It all started on a Saturday in Summer'21 when I saw myself getting
        confused about what to do whether to join a GFG course, cn course or
        learn from youtube through apni Kaksha or code with Harry.
        <br />
        <br />
        Then I contacted my friends, and what I got to know was that we were all
        in the same boat.
        <br />
        <br />
        I started my research for what's the most important thing to learn for
        CS grads. I surfed on the web through 100s of sites and YouTube videos,
        and then I contacted seniors at IITs and started to connect with
        professionals in the field.
        <br />
        <br />
        And to my amusement, they all pointed to 2 things.
        <br />
        1. DSA & CP <br />2. Development
        <br />
        <br />
        I had CS during my class 11th-12th so at least I was clear with class
        basics. Then I thought of others who didn't, they were at worse. Then I
        recalled how my batchmates themselves struggled in learning the basics
        of C/C++. The best part is that I already understood those concepts. So
        I first started with my college then contacted my class 12th friends and
        like this, I covered IITD, DTU, NSUT & IIITD. Somehow I was in the
        Whatsapp groups of BITS Pilani, MAIT, IITB, and IITK and I shared the
        idea with them of teaching. They were all in favor of it.
        <br />
        <br />
        That's how it all started, it's like a DREAM. I never thought of having
        a website. I never thought of teaching myself on Google Meet. All this
        happened by chance and I never thought that you would read this.
      </p>
    </div>
    <div class="about__right">
      <div
        class="img-box hoverable"
        data-trailer-content="Bring Up"
        tabindex="0"
      >
        <div class="img-box-container" tabindex="0">
          <div class="toggle-container">
            <div class="img-cut">-</div>
            <div class="img-title">Anmol Wadhwa</div>
          </div>
          <div class="img primary">
            <img
              src="{% static 'img/anmol1.jpg' %}"
              alt="image of anmol"
            /><span>text</span>
          </div>
          <div class="img-content">Founder of Algocs</div>
        </div>
      </div>
      <div
        class="img-box hoverable"
        data-trailer-content="Bring Up"
        tabindex="0"
      >
        <div class="img-box-container" tabindex="0">
          <div class="toggle-container">
            <div class="img-cut">-</div>
            <div class="img-title">Anmol Wadhwa</div>
          </div>
          <div class="img primary">
            <img
              src="{% static 'img/anmol2.jpg' %}"
              alt="image of jappreet"
            /><span>text</span>
          </div>
          <div class="img-content">Founder of Algocs</div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>
{% endblock %}
