{% extends 'main.html' %} {% load static %} {% block content %}

<!-- main with sections-->
<main>
  <!-- splide carousel -->
  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
      </ul>
    </div>
    <img class="cutout r" src="../static/img/cutoutr.svg" alt="cutout-right" />
  </section>

  <section class="about">
    <div class="about__left">
      <h4>our journey</h4>
      <h2>where it all began</h2>
      <p>
        Praesent egestas varius felis. Integer aliquet venenatis elit et ornare.
        Nam ut blandit lectus. Mauris a sem tempor, posuere dolor imperdiet,
        egestas est. Fusce ipsum neque, pretium sed felis a, accumsan commodo
        tellus. Vivamus eu risus eget erat tincidunt efficitur. <br /><br />Nam
        consequat ipsum neque, sit amet lobortis nisi dignissim ac. Sed turpis
        lectus, tempus nec imperdiet ut, laoreet nec orci. Etiam vitae dolor
        bibendum, tristique risus non, volutpat odio. Aliquam sagittis turpis et
        faucibus tempus. Duis a venenatis libero, sed ullamcorper nunc. Fusce
        nisl ante, venenatis eu sollicitudin vel, sagittis sed felis. Praesent
        tempus lacus eget feugiat finibus. Etiam eget urna maximus, commodo
        libero mattis, rutrum leo. Vestibulum laoreet velit sed nibh porta, eget
        consequat ligula lacinia. Phasellus id sodales massa.
      </p>
    </div>
    <div class="about__right">
      <div
        class="img-box hoverable"
        data-trailer-content="Bring Up"
        tabindex="0"
      >
        <div class="img-box-container" tabindex="0">
          <div class="toggle-container">
            <div class="img-cut">-</div>
            <div class="img-title">sample img</div>
          </div>
          <div class="img primary">
            <img
              src="../static/img/sample_img.png"
              alt="image of jappreet"
            /><span>text</span>
          </div>
          <div class="img-content">sample img</div>
        </div>
      </div>
      <div
        class="img-box hoverable"
        data-trailer-content="Bring Up"
        tabindex="0"
      >
        <div class="img-box-container" tabindex="0">
          <div class="toggle-container">
            <div class="img-cut">-</div>
            <div class="img-title">sample img</div>
          </div>
          <div class="img primary">
            <img
              src="../static/img/sample_img.png"
              alt="image of jappreet"
            /><span>text</span>
          </div>
          <div class="img-content">sample img</div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>
{% endblock %}
