{% extends 'main.html' %} {% load static %} {% block content %}

<!-- main with sections-->
<main>
  <section class="contact">
    <object
      class="cutout l"
      type="image/svg+xml"
      data="../temporary/cutoutl.svg"
      alt="vectors"
      srcset=""
    ></object>
    <div class="contact-container">
      <div class="contact-content">
        <div>
          <div class="contact-number">01</div>
          <div class="contact-head">locate us</div>
        </div>
        <div class="contact-text-container">
          <p class="contact-text">xyz address,<br />new delhi - 1100XX</p>
        </div>
      </div>
      <div class="contact-content">
        <div>
          <div class="contact-number">02</div>
          <div class="contact-head">reach us</div>
        </div>
        <div class="contact-text-container">
          <p
            class="contact-text hoverable"
            data-trailer-content="anmol.wri@gmail.com"
          >
            general
          </p>
          <p
            class="contact-text hoverable"
            data-trailer-content="+91 9999040232"
          >
            talk
          </p>
        </div>
      </div>
      <div class="contact-content">
        <div>
          <div class="contact-number">03</div>
          <div class="contact-head">follow us</div>
        </div>
        <div class="contact-text-container">
          <p class="contact-text follow hoverable" data-trailer-content="">
            linkedin
          </p>
          <p class="contact-text follow hoverable" data-trailer-content="">
            twitter
          </p>
          <p class="contact-text follow hoverable" data-trailer-content="">
            developer
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="footer contact-footer">
    <div class="footer-left">
      <div class="footer-head">
        <h5 class="footer-head-first">
          <span class="foot-color">build </span>&nbsp;your
        </h5>
        <h5>path to</h5>
        <h5>success</h5>
      </div>
      <div class="footer-content">
        <div class="footer-content__contact">
          <h6>contact us</h6>
          <p class="hoverable" data-trailer-content="Nice to meet you">
            hello@gmail.com
          </p>
        </div>
        <div class="footer-content__follow">
          <h6>follow us</h6>
          <p class="hoverable" data-trailer-content="Let's Conect">linkedin</p>
        </div>
        <div class="footer-content__locate">
          <h6>locate us</h6>
          <p class="hoverable" data-trailer-content="See you soon">
            xyz address
          </p>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-copyright">
        <p>&copy; algocs 2023</p>
      </div>
      <div class="footer-statement">
        <div class="footer-privacy">
          <p>privacy statement</p>
        </div>
        <div class="footer-legal">
          <p>legal statement</p>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
