<section class="footer">
  <div class="footer-left">
    <div class="footer-head">
      <h5 class="footer-head-first">
        <span class="foot-color">build </span>&nbsp;your
      </h5>
      <h5>path to</h5>
      <h5>success</h5>
    </div>
    <div class="footer-content">
      <div class="footer-content__contact">
        <h6>contact us</h6>
        <p class="hoverable" data-trailer-content="Nice to meet you">
          hello@gmail.com
        </p>
      </div>
      <div class="footer-content__follow">
        <h6>follow us</h6>
        <p class="hoverable" data-trailer-content="Let's Conect">linkedin</p>
      </div>
      <div class="footer-content__locate">
        <h6>locate us</h6>
        <p class="hoverable" data-trailer-content="See you soon">xyz address</p>
      </div>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-copyright">
      <a href="{% url 'index' %}">&copy; algocs 2023</a>
    </div>
    <div class="footer-statement">
      <div class="footer-privacy">
        <a href="{% url 'privacy' %}">privacy statement</a>
      </div>
      <div class="footer-legal">
        <a href="{% url 'legal' %}">legal statement</a>
      </div>
    </div>
  </div>
</section>
