<nav>
  <!-- <div class="nav-toggle-container">
    <span>dashboard</span>
    <span>-</span>
  </div>
  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'partners' %}">Collab</a></li>
    <li><a href="{% url 'gallery' %}">Gallery</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
  </ul> -->
  <div class="img-box nav-box hoverable" data-trailer-content="Click Me">
    <div class="img-box-container nav-box-container" tabindex="0">
      <div class="toggle-container nav-toggle-container">
        <div class="img-title nav-title">dashboard</div>
        <div class="img-cut nav-cut">-</div>
      </div>
      <ul class="img">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'partners' %}">Collab</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <div class="img-content" style="display: none"></div>
    </div>
  </div>
  <div class="logo">
    <img src="../static/img/logo.svg" alt="algocs logo" />
  </div>
</nav>
