:root {
  --tile-size: 5vw; /* Set default tile size */
  --primary: 240, 240, 229;
  --secondary: 79, 38, 233;
  --tertiary: 217, 242, 79;
  --background: 31, 31, 31;
}

.primary {
  background-color: rgb(var(--primary)) !important;
}

.secondary {
  background-color: rgb(var(--secondary)) !important;
}

.tertiary {
  background-color: rgb(var(--tertiary)) !important;
}

.background {
  background-color: rgb(var(--background)) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
}

html,
body {
  user-select: none;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(var(--background));
  position: relative;
  color: rgb(var(--primary));
  font-family: "Vietnam";
}

body::-webkit-scrollbar {
  display: none;
}

main {
  pointer-events: none;
  z-index: 2;
  position: relative;
}

.null-display {
  display: none;
}
@media screen and (max-width: 768px) {
  .null-display {
    background-color: rgb(var(--background));
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  .null-display h2 {
    color: rgb(var(--tertiary));
  }
}
@media screen and (max-width: 479px) {
  .null-display {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .tippy-content {
    display: none;
  }
}
nav {
  position: fixed;
  top: 3vh;
  right: 3vh;
  z-index: 100;
  display: flex;
  pointer-events: none;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: auto;
  pointer-events: all;
}
nav .nav-toggle-container {
  width: 12vw;
  color: rgb(var(--background));
  background-color: rgb(var(--primary));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  pointer-events: all;
  height: 3vw !important;
}
@media screen and (max-width: 1100px) {
  nav .nav-toggle-container {
    height: 5vw !important;
    width: 5vw;
    margin-left: auto;
    position: relative;
  }
  nav .nav-toggle-container::after {
    content: "=";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(var(--background));
    font-size: 4vw;
    font-weight: 1000;
    font-family: "Fivo", sans-serif;
  }
  nav .nav-toggle-container > * {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  nav .nav-toggle-container {
    height: 8vw !important;
    width: 8vw;
  }
  nav .nav-toggle-container::after {
    font-size: 5.6vw;
  }
}
nav span {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 1000;
  line-height: 3;
  font-family: "Fivo", sans-serif;
  text-align: center;
}
nav ul {
  padding: 1vw 1vw 2vw 1vw !important;
  width: 12vw;
  border: 3px solid rgb(var(--primary));
  border-top: 0px solid rgb(var(--primary));
  list-style: none;
  display: flex;
  align-items: flex-start !important;
  justify-content: center !important;
  flex-direction: column;
  gap: 1vh;
  background-color: rgb(var(--background));
}
@media screen and (max-width: 1100px) {
  nav ul {
    display: none;
    width: 20vw;
    padding: 1.6vw 1.6vw 2.4vw 1.6vw !important;
  }
}
@media screen and (max-width: 479px) {
  nav ul {
    width: 40vw;
    padding: 3.2vw !important;
  }
}
nav ul li {
  pointer-events: all;
}
nav ul li a {
  text-decoration: none;
  color: rgb(var(--primary));
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Vietnam", sans-serif;
  font-size: 1vw;
}
nav ul li a:hover {
  color: rgb(var(--tertiary));
}
@media screen and (max-width: 1100px) {
  nav ul li a {
    font-size: 2vw;
  }
}
@media screen and (max-width: 479px) {
  nav ul li a {
    font-size: 4vw;
  }
}

.nav-box {
  width: auto !important;
  height: auto !important;
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 1100px) {
  .nav-box-container {
    background-color: transparent !important;
  }
}

.nav-title,
.nav-cut {
  height: 3vw !important;
  font-size: 1vw;
  font-weight: 1000;
  font-family: "Fivo", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .nav-title,
  .nav-cut {
    height: 5vw !important;
    font-size: 2vw;
  }
}
@media screen and (max-width: 479px) {
  .nav-title,
  .nav-cut {
    font-size: 4vw;
  }
}

.logo {
  pointer-events: all;
  height: 2.4vw;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  top: 2vh;
  transform: translate(-50%, 0);
  left: 50%;
}
@media screen and (max-width: 1100px) {
  .logo {
    height: 4vw;
  }
}
@media screen and (max-width: 479px) {
  .logo {
    height: 6vw;
  }
}
.logo svg {
  height: 2.4vw;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 1100px) {
  .logo svg {
    height: 4vw;
  }
}
@media screen and (max-width: 479px) {
  .logo svg {
    height: 6vw;
  }
}
.logo:hover svg path, .logo:focus svg path {
  animation: colorCycle 1s forwards infinite;
}

@keyframes colorCycle {
  0% {
    fill: rgb(var(--primary));
  }
  33% {
    fill: rgb(var(--secondary));
  }
  66% {
    fill: rgb(var(--tertiary));
  }
  100% {
    fill: rgb(var(--primary));
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}

ul.transition {
  display: flex;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  list-style: none;
}
ul.transition li {
  background-color: rgb(var(--secondary));
  width: 20%;
  transform: scaleY(0);
}

.img-box-clicked {
  height: 6vh !important;
}

.img-box-container-clicked {
  height: auto !important;
}

.toggle-container-clicked {
  height: 7.5vh !important;
}
@media screen and (max-width: 479px) {
  .toggle-container-clicked {
    height: 5.25vh !important;
  }
}

.img-clicked {
  height: 0vh !important;
  padding: 0 !important;
}

.img-content-clicked {
  height: 0vh !important;
  display: none;
}

.nav-toggle-container-clicked {
  height: 7.5vh !important;
}
@media screen and (max-width: 1100px) {
  .nav-toggle-container-clicked {
    width: 20vw !important;
  }
  .nav-toggle-container-clicked::after {
    content: "" !important;
  }
  .nav-toggle-container-clicked > .nav-title {
    display: flex !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .nav-toggle-container-clicked {
    width: 40vw !important;
  }
}

.nav-ul-clicked {
  visibility: hidden;
  opacity: 0;
}
@media screen and (max-width: 1100px) {
  .nav-ul-clicked {
    visibility: visible;
    opacity: 1;
    display: flex !important;
  }
}

.img-box {
  width: 20vw;
  height: 50vh;
  pointer-events: all !important;
}
@media screen and (max-width: 1100px) {
  .img-box {
    width: 30vw;
  }
}
@media screen and (max-width: 479px) {
  .img-box {
    width: 40vw;
    height: 35vh;
  }
}
.img-box-container {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 0px;
  background-color: rgb(var(--background));
  color: rgb(var(--tertiary));
  text-transform: uppercase;
  font-family: "Fivo", sans-serif;
}
.img-box-container .minus {
  height: 0% !important;
}
.img-box-container .toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5vh;
  pointer-events: all;
}
@media screen and (max-width: 479px) {
  .img-box-container .toggle-container {
    height: 5.25vh;
  }
}
.img-box-container .toggle-container:hover {
  background-color: rgb(var(--secondary)) !important;
  color: rgb(var(--primary)) !important;
}
.img-box-container .toggle-container .img-cut {
  margin: 0vh 1vh;
}
@media screen and (max-width: 1100px) {
  .img-box-container .toggle-container .img-cut {
    font-size: 2vw;
  }
}
.img-box-container .toggle-container .img-title {
  font-size: 1vw;
  font-weight: 1000;
  margin: 0vh 1vh;
  background-color: transparent;
}
@media screen and (max-width: 1100px) {
  .img-box-container .toggle-container .img-title {
    font-size: 2vw;
  }
}
.img-box-container .toggle-container-clicked + .img {
  visibility: hidden;
  opacity: 0;
}
.img-box-container .toggle-container-clicked ~ .img-content {
  visibility: hidden;
  opacity: 0;
}
.img-box-container .img-content {
  font-size: 0.8vw;
  font-weight: 100;
  font-family: "Vietnam", sans-serif;
  text-transform: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5vh;
  color: rgb(var(--primary));
}
@media screen and (max-width: 1100px) {
  .img-box-container .img-content {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 479px) {
  .img-box-container .img-content {
    height: 5.25vh;
    font-size: 1.6vw;
  }
}
.img-box-container .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  position: relative;
  overflow: hidden;
  color: rgb(var(--background));
}
@media screen and (max-width: 479px) {
  .img-box-container .img {
    height: 24.5vh;
  }
}
.img-box-container .img-src {
  padding-top: 50%;
  padding-bottom: 50%;
}
.img-box-container .img img {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.img-box-container .img span {
  font-size: 3.2vw;
}

.cursor-hover {
  font-size: 0.8vw;
  padding: 0.4vw 0.4vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  background-color: rgb(var(--tertiary));
  color: rgb(var(--background));
  z-index: 1000;
  text-transform: uppercase;
  pointer-events: all;
}

.tippy-box[data-theme~=custom] {
  background-color: rgb(var(--tertiary));
  color: rgb(var(--background));
  font-size: 0.8vw;
  font-family: "Fivo", sans-serif;
  z-index: 1000;
  border-radius: 0px;
  text-transform: uppercase;
}

.btn-reveal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) !important;
  color: rgba(var(--primary), 1);
  z-index: 220;
  background: none;
  border: none;
  outline: none;
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 3.2vw;
  cursor: pointer !important;
  font-family: "Fivo Sans Modern";
  pointer-events: all;
}

.text-container {
  display: flex;
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100%;
  list-style: none;
}

.text-container li {
  background: rgb(var(--secondary));
  width: 20%;
  transform: scaleY(1);
}

.text-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  z-index: 210;
}

.text {
  width: 300%;
  font-family: "Fivo Sans Modern";
  font-size: 3.5vw;
  text-transform: uppercase;
  opacity: 0.1;
  color: rgb(var(--primary));
}

@media screen and (max-width: 479px) {
  canvas {
    display: none;
    visibility: hidden;
  }
}

@font-face {
  font-family: "Fivo";
  src: url("../fonts/FivoSans.otf");
}
@font-face {
  font-family: "Vietnam";
  src: url("../fonts/Vietnam.ttf");
}
h1 {
  margin: 0;
  background-color: transparent;
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Fivo", sans-serif;
  line-height: 1;
  color: rgb(var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 10.4vw;
  }
}
@media screen and (max-width: 479px) {
  h1 {
    font-size: 14vw;
  }
}

h2 {
  font-size: 4vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  h2 {
    font-size: 5.6vw;
  }
}
@media screen and (max-width: 479px) {
  h2 {
    font-size: 6.4vw;
  }
}

h3 {
  font-size: 2.4vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  h3 {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 479px) {
  h3 {
    font-size: 4vw;
  }
}

h4 {
  color: rgb(var(--secondary));
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 1.6vw;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  h4 {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 479px) {
  h4 {
    font-size: 3.2vw;
  }
}

p {
  font-family: "Vietnam";
  font-size: 1.4vw;
}
@media screen and (max-width: 1100px) {
  p {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 479px) {
  p {
    font-size: 3.2vw;
  }
}

h5 {
  color: rgb(var(--primary));
  font-family: "Fivo", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6vw;
}
@media screen and (max-width: 1100px) {
  h5 {
    font-size: 2vw;
  }
}

h6 {
  color: rgb(var(--tertiary));
  font-family: "Fivo", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2vw;
}
@media screen and (max-width: 1100px) {
  h6 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 479px) {
  h6 {
    font-size: 3.2vw;
  }
}

input {
  pointer-events: all;
  font-size: 1.6vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  cursor: text;
}
@media screen and (max-width: 479px) {
  input {
    font-size: 3.2vw;
  }
}

input[type=email],
input[type=text] {
  color: rgba(var(--secondary), 0.33);
  height: 8vh;
  width: 66.67%;
  border: 0;
  border-bottom: 2px solid rgba(var(--secondary), 0.33);
  outline: 0;
  background-color: transparent;
}
@media screen and (max-width: 479px) {
  input[type=email],
  input[type=text] {
    height: 5vh;
    width: 75%;
  }
}

input::placeholder {
  color: rgba(var(--secondary), 0.33);
}

input:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
input:-webkit-autofill::first-line {
  color: rgba(var(--secondary), 1);
  -webkit-text-fill-color: rgba(var(--secondary), 1);
  border-bottom: 2px solid rgba(var(--secondary), 1);
  -webkit-box-shadow: 0px;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 1.6vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
}
@media screen and (max-width: 479px) {
  input:focus,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:active,
  input:-webkit-autofill::first-line {
    font-size: 3.2vw;
  }
}

.btn {
  padding: 0 1vw;
  font-size: 1.6vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  outline: none;
  pointer-events: all;
  color: rgb(var(--secondary));
  background-color: rgb(var(--primary));
  text-transform: uppercase;
  border: 0;
  height: 8vh;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .btn {
    height: 5vh;
    font-size: 3.2vw;
  }
}
.btn:hover {
  background-color: rgb(var(--secondary));
  color: rgb(var(--primary));
}

section.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
}
section.carousel img {
  margin: auto 0;
}
section.carousel ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  animation: scroll 16s linear infinite;
  width: 400vw;
  z-index: 5;
}
section.carousel ul li {
  color: rgb(var(--primary));
  list-style: none;
}
section.carousel ul li h1 {
  width: 50vw;
  font-size: 15vw;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200vw);
  }
}
section.splide {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
@media screen and (max-width: 479px) {
  section.splide {
    height: 75vh;
  }
}
section.splide .splide__track ul li {
  font-size: 14vw;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: "Fivo", sans-serif;
}
@media screen and (max-width: 479px) {
  section.splide .splide__track ul li {
    font-size: 18vw;
  }
}
section.splide img {
  margin: auto 0;
}
@media screen and (max-width: 479px) {
  section.splide img {
    width: 100%;
  }
}

.cutout {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -1;
}
.cutout.l {
  left: 0;
}
.cutout.r {
  right: 0;
}

section.hero {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 5vw;
}
section.hero > h4 {
  margin-top: 20vh;
}
@media screen and (max-width: 479px) {
  section.hero > h4 {
    margin-top: 25vh;
  }
}
section.hero .overflow {
  overflow: hidden;
  position: relative;
}
section.hero .overflow-build {
  padding: 1rem 1rem 0 1rem !important;
}
section.hero h4 {
  display: flex;
}
section.hero h4 .slide-in {
  transform: translateY(20vh);
}
section.hero .slide-in-in {
  transform: translateY(20vh);
  position: relative;
  z-index: 3;
}
section.hero .check {
  letter-spacing: -0.2rem;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0%;
  left: 0%;
  z-index: 2;
  background-color: rgb(var(--tertiary));
}

.color {
  color: rgb(var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  vertical-align: baseline;
  letter-spacing: -0.2rem;
  position: relative;
}
.color svg {
  position: absolute;
  top: -1.5vw;
  right: -1.5vw;
  height: 3.2vw;
  color: rgb(var(--tertiary));
  background-color: rgb(var(--background));
  border-radius: 100000px;
  padding: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 0;
  pointer-events: all;
}
@media screen and (max-width: 1100px) {
  .color svg {
    height: 4vw;
  }
}
@media screen and (max-width: 479px) {
  .color svg {
    height: 5.6vw;
    padding: 1.2vw;
  }
}
.color svg:focus {
  border: 0px;
  outline: 0px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.scroll-indicator {
  position: absolute;
  bottom: 5vh;
  right: 3vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.scroll-indicator img {
  height: 25vh;
}
.scroll-indicator__text {
  height: 25vh;
  writing-mode: vertical-rl;
  margin: auto 0;
  transform: rotate(180deg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.2vw;
  line-height: 0.1;
  font-family: "Fivo", sans-serif;
  text-transform: uppercase;
  color: rgb(var(--tertiary));
}

section.sessions {
  width: 100%;
  position: relative;
  padding: 5vw;
  height: 400vh;
}
@media screen and (max-width: 1100px) {
  section.sessions {
    height: 375vh;
  }
}
@media screen and (max-width: 479px) {
  section.sessions {
    height: 180vh;
  }
}
section.sessions .img-box {
  position: absolute;
  top: calc(0% + 3vh);
  left: 27.5%;
  bottom: 0%;
  pointer-events: all;
}
@media screen and (max-width: 1100px) {
  section.sessions .img-box {
    left: 22.25%;
    top: calc(-3% + 3vh);
  }
}
@media screen and (max-width: 479px) {
  section.sessions .img-box {
    left: 17.5%;
    top: calc(-10% + 1vh);
  }
}
section.sessions .img-box:nth-of-type(1) {
  transform: translate(-10vw, 25vh);
  z-index: 2;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(1) {
    transform: translate(-10vw, 25vh);
  }
}
section.sessions .img-box:nth-of-type(2) {
  transform: translate(5vw, 50vh);
  z-index: 3;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(2) {
    transform: translate(5vw, 35vh);
  }
}
section.sessions .img-box:nth-of-type(3) {
  transform: translate(20vw, 75vh);
  z-index: 4;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(3) {
    transform: translate(20vw, 45vh);
  }
}
section.sessions .img-box:nth-of-type(4) {
  transform: translate(35vw, 100vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(4) {
    transform: translate(35vw, 55vh);
  }
}
section.sessions .img-box:nth-of-type(5) {
  transform: translate(20vw, 125vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(5) {
    transform: translate(20vw, 65vh);
  }
}
section.sessions .img-box:nth-of-type(6) {
  transform: translate(5vw, 150vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(6) {
    transform: translate(5vw, 75vh);
  }
}
section.sessions .img-box:nth-of-type(7) {
  transform: translate(-10vw, 175vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(7) {
    transform: translate(-10vw, 85vh);
  }
}
section.sessions .img-box:nth-of-type(8) {
  transform: translate(5vw, 200vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(8) {
    transform: translate(5vw, 95vh);
  }
}
section.sessions .img-box:nth-of-type(9) {
  transform: translate(20vw, 225vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(9) {
    transform: translate(20vw, 105vh);
  }
}
section.sessions .img-box:nth-of-type(10) {
  transform: translate(35vw, 250vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(10) {
    transform: translate(35vw, 115vh);
  }
}
section.sessions .img-box:nth-of-type(11) {
  transform: translate(20vw, 275vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(11) {
    transform: translate(20vw, 125vh);
  }
}
section.sessions .img-box:nth-of-type(12) {
  transform: translate(5vw, 300vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(12) {
    transform: translate(5vw, 135vh);
  }
}
section.sessions .img-box:nth-of-type(13) {
  transform: translate(-10vw, 325vh);
  z-index: 5;
}
@media screen and (max-width: 479px) {
  section.sessions .img-box:nth-of-type(13) {
    transform: translate(-10vw, 145vh);
  }
}

section.metrics {
  padding: 5vw;
  width: 100%;
  position: relative;
}
section.metrics h2 {
  width: 70%;
}
@media screen and (max-width: 479px) {
  section.metrics h2 {
    width: 80%;
  }
}
section.metrics .subhead {
  margin-top: 3vh;
  width: 70%;
  text-align: justify;
}
@media screen and (max-width: 479px) {
  section.metrics .subhead {
    width: 80%;
    margin-top: 1vh;
  }
}
section.metrics .metrics-content {
  display: flex;
  margin-top: 10vh;
  width: 75%;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}
@media screen and (max-width: 479px) {
  section.metrics .metrics-content {
    width: 100%;
    gap: 5%;
  }
}
section.metrics .metrics-content--left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
}
@media screen and (max-width: 479px) {
  section.metrics .metrics-content--left {
    height: 15vh;
    width: 25%;
    justify-content: flex-start;
  }
}
section.metrics .metrics-content--left .number {
  color: rgb(var(--secondary));
  font-size: 1.2vw;
  font-family: "Fivo", sans-serif;
}
@media screen and (max-width: 1100px) {
  section.metrics .metrics-content--left .number {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 479px) {
  section.metrics .metrics-content--left .number {
    font-size: 3.2vw;
  }
}
section.metrics .metrics-content--left .metrics-number {
  color: rgb(var(--tertiary));
  font-size: 2.4vw;
  font-family: "Fivo", sans-serif;
}
@media screen and (max-width: 1100px) {
  section.metrics .metrics-content--left .metrics-number {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 479px) {
  section.metrics .metrics-content--left .metrics-number {
    font-size: 4.8vw;
  }
}
section.metrics .metrics-content--left .metrics-title {
  font-size: 2.4vw;
  font-family: "Fivo", sans-serif;
  text-transform: capitalize;
  color: rgb(var(--primary));
}
@media screen and (max-width: 1100px) {
  section.metrics .metrics-content--left .metrics-title {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 479px) {
  section.metrics .metrics-content--left .metrics-title {
    font-size: 4.8vw;
  }
}
section.metrics .metrics-content--right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 1.2vw;
  text-align: justify;
}
@media screen and (max-width: 1100px) {
  section.metrics .metrics-content--right {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 479px) {
  section.metrics .metrics-content--right {
    height: 15vh;
    align-items: flex-start;
    font-size: 3.2vw;
    width: 75%;
  }
}

section.mail {
  padding: 5vw;
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
section.mail .subhead {
  width: 100%;
  text-align: justify;
}
section.mail .mailbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  flex-wrap: wrap;
  margin-top: 3vh;
}
@media screen and (max-width: 479px) {
  section.mail .mailbox {
    margin-top: 1vh;
    flex-direction: column;
  }
}
section.mail .mailbox--left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 479px) {
  section.mail .mailbox--left {
    width: 100%;
  }
}
section.mail .mailbox--left .mail-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh;
}
@media screen and (max-width: 479px) {
  section.mail .mailbox--left .mail-content {
    margin-top: 3vh;
  }
}
section.mail .mailbox--right {
  width: 50%;
}
@media screen and (max-width: 479px) {
  section.mail .mailbox--right {
    width: 100%;
  }
}
section.mail .picture-lib {
  width: 50%;
  margin: auto;
  position: relative;
  pointer-events: all;
}
@media screen and (max-width: 479px) {
  section.mail .picture-lib {
    display: none;
  }
}
section.mail .picture-lib .img {
  height: 50vh;
  width: 20vw;
}
@media screen and (max-width: 1100px) {
  section.mail .picture-lib .img {
    height: 35vh;
    width: 30vw;
  }
}
@media screen and (max-width: 479px) {
  section.mail .picture-lib .img {
    height: 35vh;
    width: 40vw;
  }
}
section.mail .picture-lib .img img {
  width: 100%;
  height: 100%;
}
section.mail .picture-lib .mg-box:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(7deg) translate(0%, calc(-50% - 5vw));
}
@media screen and (max-width: 1100px) {
  section.mail .picture-lib .mg-box:nth-of-type(1) {
    transform: rotate(5deg) translate(0%, calc(-50% - 5vw));
  }
}
section.mail .picture-lib .mg-box:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-7deg) translate(0%, calc(-50% - 5vw));
}
@media screen and (max-width: 1100px) {
  section.mail .picture-lib .mg-box:nth-of-type(2) {
    transform: rotate(-5deg) translate(0%, calc(-50% - 5vw));
  }
}
section.mail .picture-lib .mg-box:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg) translate(0%, calc(-50% - 5vw));
}

section.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 479px) {
  section.about {
    flex-direction: column;
  }
}
section.about .about__left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding-left: 5vw;
}
@media screen and (max-width: 1100px) {
  section.about .about__left {
    width: 40%;
  }
}
@media screen and (max-width: 479px) {
  section.about .about__left {
    padding: 0 5vw;
    width: 100%;
  }
}
section.about .about__left p {
  text-align: justify;
}
section.about .about__right {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  section.about .about__right {
    width: 60%;
  }
}
@media screen and (max-width: 479px) {
  section.about .about__right {
    width: 100%;
    height: 50vh;
  }
}
section.about .about__right .img-box {
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 37.5%;
  transform: translate(-10vw, -25vh);
  z-index: 2;
}
@media screen and (max-width: 1100px) {
  section.about .about__right .img-box {
    left: 27.5%;
  }
}
@media screen and (max-width: 479px) {
  section.about .about__right .img-box {
    transform: translate(-20vw, -20vh);
    width: 66.67%;
  }
}
section.about .about__right .img-box:nth-of-type(2) {
  z-index: 3;
  transform: translate(5vw, -12.5vh);
}
@media screen and (max-width: 479px) {
  section.about .about__right .img-box:nth-of-type(2) {
    transform: translate(0vw, -12.5vh);
  }
}

section.privacy {
  width: 100%;
  padding: 0 5vw;
  gap: 5vw;
}
section.privacy > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5vw;
  text-align: justify;
}
section.privacy > * h2 {
  text-align: left;
  width: 75%;
  padding-bottom: 3vh;
}
@media screen and (max-width: 479px) {
  section.privacy > * h2 {
    width: 100%;
    padding-bottom: 1vh;
  }
}
section.privacy > * p {
  margin: 0 auto;
  width: 75%;
}
@media screen and (max-width: 479px) {
  section.privacy > * p {
    width: 100%;
    padding-bottom: 5vh;
  }
}
section.privacy > * a {
  pointer-events: all;
  color: rgb(var(--tertiary));
  text-decoration: none;
  cursor: pointer;
}
section.privacy > * ul {
  width: 75%;
  font-size: 1.2vw;
}
@media screen and (max-width: 1100px) {
  section.privacy > * ul {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 479px) {
  section.privacy > * ul {
    width: 100%;
    font-size: 3.2vw;
    padding-bottom: 5vh;
  }
}

section.legal {
  width: 100%;
  padding: 0 5vw;
  gap: 5vw;
}
section.legal > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5vw;
  text-align: justify;
}
section.legal > * h2 {
  text-align: left;
  width: 75%;
  padding-bottom: 3vh;
}
@media screen and (max-width: 479px) {
  section.legal > * h2 {
    width: 100%;
    padding-bottom: 1vh;
  }
}
section.legal > * p {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  section.legal > * p {
    width: 100%;
    padding-bottom: 5vh;
  }
}
section.legal > * p a {
  pointer-events: all;
  color: rgb(var(--tertiary));
  text-decoration: none;
  cursor: pointer;
}
section.legal > * ul {
  width: 75%;
  font-size: 1.2vw;
}
@media screen and (max-width: 1100px) {
  section.legal > * ul {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 479px) {
  section.legal > * ul {
    width: 100%;
    font-size: 3.2vw;
    padding-bottom: 5vh;
  }
}

section.gallery {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  opacity: 1;
}

#gallery-container {
  height: 140vmax !important;
  width: 140vmax !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-out;
}

.gallery-box {
  position: absolute;
  transition: transform 700ms ease;
}
.gallery-box img {
  height: 100%;
  width: 100%;
}

.gallery-box:hover {
  transform: scale(1.1);
}

.gallery-box:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.gallery-box > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 500ms ease, transform 800ms ease;
}

.gallery-box:nth-child(1) {
  background-color: rgb(var(--primary));
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.gallery-box:nth-child(2) {
  background-color: rgb(var(--secondary));
  height: 24%;
  width: 14%;
  left: 42%;
  top: 12%;
}

.gallery-box:nth-child(3) {
  background-color: rgb(var(--tertiary));
  height: 18%;
  width: 16%;
  left: 12%;
  top: 34%;
}

.gallery-box:nth-child(4) {
  background-color: rgb(var(--primary));
  height: 14%;
  width: 12%;
  left: 45%;
  top: 48%;
}

.gallery-box:nth-child(5) {
  background-color: rgb(var(--secondary));
  height: 16%;
  width: 32%;
  left: 8%;
  top: 70%;
}

.gallery-box:nth-child(6) {
  background-color: rgb(var(--tertiary));
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
}

.gallery-box:nth-child(7) {
  background-color: rgb(var(--tertiary));
  height: 16%;
  width: 20%;
  left: 50%;
  top: 74%;
}

.gallery-box:nth-child(8) {
  background-color: rgb(var(--secondary));
  height: 24%;
  width: 18%;
  left: 72%;
  top: 42%;
}

.gallery-box:nth-child(9) {
  background-color: rgb(var(--primary));
  height: 10%;
  width: 8%;
  left: 84%;
  top: 84%;
}

/* -- YouTube Link Styles -- */
body.menu-toggled > .meta-link > span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link > i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

section.contact {
  height: 100vh;
  width: 100%;
  position: relative;
  pointer-events: all;
}
@media screen and (max-width: 479px) {
  section.contact img {
    width: 100%;
  }
}
section.contact .contact-container {
  width: 66.67%;
  margin-left: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 1100px) {
  section.contact .contact-container {
    width: 66.67%;
    margin-left: 30%;
  }
}
@media screen and (max-width: 479px) {
  section.contact .contact-container {
    width: 100%;
    margin-left: 0%;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 10vh;
    padding: 5vw;
  }
}
section.contact .contact-text-container {
  font-weight: 1000;
}
@media screen and (max-width: 479px) {
  section.contact .contact-text-container {
    margin-top: 1vh;
  }
}
section.contact .contact-text-container p {
  text-transform: uppercase !important;
  font-size: 0.8vw !important;
}
@media screen and (max-width: 1100px) {
  section.contact .contact-text-container p {
    font-size: 1.6vw !important;
  }
}
@media screen and (max-width: 479px) {
  section.contact .contact-text-container p {
    font-size: 3.2vw !important;
  }
}
section.contact .contact-content {
  width: 33.33%;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 1100px) {
  section.contact .contact-content {
    height: 15vh;
  }
}
@media screen and (max-width: 479px) {
  section.contact .contact-content {
    height: auto;
  }
}
section.contact .contact-content .contact-number {
  color: rgb(var(--tertiary));
  font-size: 1.2vw;
  font-family: "Fivo", sans-serif;
}
@media screen and (max-width: 1100px) {
  section.contact .contact-content .contact-number {
    font-size: 2vw;
  }
}
@media screen and (max-width: 479px) {
  section.contact .contact-content .contact-number {
    font-size: 3.2vw;
  }
}
section.contact .contact-content .contact-head {
  font-size: 2.4vw;
  font-family: "Fivo", sans-serif;
  text-transform: uppercase;
  color: rgb(var(--primary));
}
@media screen and (max-width: 1100px) {
  section.contact .contact-content .contact-head {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 479px) {
  section.contact .contact-content .contact-head {
    font-size: 4vw;
  }
}
section.contact .contact-content .contact-text {
  pointer-events: all;
  text-transform: capitalize;
}
section.contact .contact-content .contact-text a {
  color: rgb(var(--primary));
  text-decoration: none;
}
section.contact .contact-content .contact-text:hover {
  color: rgb(var(--tertiary));
}
section.contact .contact-content .follow {
  text-transform: uppercase;
}

section.contact-footer {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10 !important;
}
section.contact-footer .footer-left {
  visibility: hidden;
  opacity: 0;
}
section.contact-footer .footer-right {
  border-top: 2px solid rgb(var(--primary));
}

section.recent-collab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 5vw;
  gap: 10vh;
}
section.recent-collab .collab-container {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 5vw;
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container {
    padding: 0;
  }
}
@media screen and (max-width: 479px) {
  section.recent-collab .collab-container {
    flex-direction: column;
  }
}
section.recent-collab .collab-container .collab-text {
  width: 50%;
  text-align: justify;
  font-size: 1.2vw;
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container .collab-text {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 479px) {
  section.recent-collab .collab-container .collab-text {
    margin-top: auto;
    width: 100%;
    height: 15vh;
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 479px) {
  section.recent-collab .collab-container .collab-img {
    width: 100%;
  }
  section.recent-collab .collab-container .collab-img .img-box {
    width: calc(100% - 10vw);
  }
}
section.recent-collab .collab-container:nth-of-type(1) .collab-img {
  position: absolute;
  top: 0;
  left: 0%;
  transform: translate(15vw, 10vh);
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container:nth-of-type(1) .collab-img {
    left: -10%;
  }
}
@media screen and (max-width: 479px) {
  section.recent-collab .collab-container:nth-of-type(1) .collab-img {
    left: 0%;
    transform: translate(5vw, 0vh);
  }
}
section.recent-collab .collab-container:nth-of-type(1) .collab-text {
  margin-left: 35%;
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container:nth-of-type(1) .collab-text {
    margin-left: auto;
  }
}
section.recent-collab .collab-container:nth-of-type(2) .collab-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(65vw, 70vh);
}
@media screen and (max-width: 479px) {
  section.recent-collab .collab-container:nth-of-type(2) .collab-img {
    left: 0%;
    transform: translate(5vw, 60vh);
  }
}
section.recent-collab .collab-container:nth-of-type(2) .collab-text {
  margin-right: 35%;
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container:nth-of-type(2) .collab-text {
    margin-right: auto;
  }
}
section.recent-collab .collab-container:nth-of-type(3) .collab-img {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(15vw, 130vh);
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container:nth-of-type(3) .collab-img {
    left: -10%;
  }
}
@media screen and (max-width: 479px) {
  section.recent-collab .collab-container:nth-of-type(3) .collab-img {
    left: 0%;
    transform: translate(5vw, 120vh);
  }
}
section.recent-collab .collab-container:nth-of-type(3) .collab-text {
  margin-left: 35%;
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container:nth-of-type(3) .collab-text {
    margin-left: auto;
  }
}
section.recent-collab .collab-container:nth-of-type(4) .collab-img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(65vw, 190vh);
}
@media screen and (max-width: 479px) {
  section.recent-collab .collab-container:nth-of-type(4) .collab-img {
    left: 0%;
    transform: translate(5vw, 180vh);
  }
}
section.recent-collab .collab-container:nth-of-type(4) .collab-text {
  margin-right: 35%;
}
@media screen and (max-width: 1100px) {
  section.recent-collab .collab-container:nth-of-type(4) .collab-text {
    margin-right: auto;
  }
}

section.stats {
  padding: 5vw;
  width: 100%;
  position: relative;
  z-index: 2;
}
section.stats h2 {
  margin-bottom: 5vw;
}
section.stats .stats-container {
  width: 100%;
  position: relative;
  pointer-events: all;
  padding: 2vh 0;
}
@media screen and (max-width: 479px) {
  section.stats .stats-container {
    padding: 1vh 0;
  }
}
section.stats .stats-container .stats-strip {
  width: 100%;
}
section.stats .stats-container .strip-container {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5vw;
}
section.stats .stats-container .strip-container:hover {
  background-color: rgb(var(--tertiary));
}
section.stats .stats-container .strip-container:hover ul.strip-list {
  opacity: 1 !important;
}
section.stats .stats-container .strip-container ul.strip-list {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--background));
  opacity: 0;
  z-index: 10;
  overflow-x: hidden;
  white-space: nowrap;
  animation: stripscroll 12s linear infinite;
  width: 200vw;
}
@media screen and (max-width: 1100px) {
  section.stats .stats-container .strip-container ul.strip-list {
    width: 240vw;
  }
}
@media screen and (max-width: 479px) {
  section.stats .stats-container .strip-container ul.strip-list {
    width: 280vw;
  }
}
section.stats .stats-container .strip-container ul.strip-list li {
  font-size: 2.4vw;
  list-style: none;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  padding: 2vh 0;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  section.stats .stats-container .strip-container ul.strip-list li {
    width: 30vw;
    font-size: 3vw;
  }
}
@media screen and (max-width: 1100px) {
  section.stats .stats-container .strip-container ul.strip-list li {
    width: 35vw;
    font-size: 4vw;
  }
}

@keyframes stripscroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
@media screen and (max-width: 1100px) {
  @keyframes stripscroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-120vw);
    }
  }
}
@media screen and (max-width: 479px) {
  @keyframes stripscroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-140vw);
    }
  }
}
section.footer {
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
}
@media screen and (max-width: 1100px) {
  section.footer {
    height: 35vh;
  }
}
section.footer .footer-left {
  padding: 5vw;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(var(--primary));
}
section.footer .footer-left .footer-head {
  line-height: 1.1;
}
@media screen and (max-width: 479px) {
  section.footer .footer-left .footer-head {
    display: none;
  }
}
section.footer .footer-left .footer-head-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 479px) {
  section.footer .footer-left .footer-head-first {
    display: none;
  }
}
section.footer .footer-left .footer-head .foot-color {
  color: rgb(var(--background));
  background-color: rgb(var(--tertiary));
  vertical-align: baseline;
  transform: rotate(-3deg);
  padding: 0.1rem 0.1rem;
  width: auto;
}
@media screen and (max-width: 479px) {
  section.footer .footer-left .footer-head .foot-color {
    display: none;
  }
}
section.footer .footer-left .footer-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 479px) {
  section.footer .footer-left .footer-content {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}
section.footer .footer-left .footer-content p,
section.footer .footer-left .footer-content a {
  font-size: 1.2vw;
  pointer-events: all;
  height: 100%;
  color: rgb(var(--primary));
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  section.footer .footer-left .footer-content p,
  section.footer .footer-left .footer-content a {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 479px) {
  section.footer .footer-left .footer-content p,
  section.footer .footer-left .footer-content a {
    font-size: 2.4vw;
    font-weight: 1000;
  }
}
section.footer .footer-left .footer-content p:hover,
section.footer .footer-left .footer-content a:hover {
  color: rgb(var(--tertiary));
}
section.footer .footer-right {
  padding: 5vh;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Fivo", sans-serif;
  text-transform: uppercase;
  font-weight: 1000;
}
@media screen and (max-width: 479px) {
  section.footer .footer-right {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0vh 2vh;
    padding: 0vh 2vh;
  }
}
section.footer .footer-right .footer-statement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
section.footer .footer-right p,
section.footer .footer-right a {
  font-size: 0.8vw;
  pointer-events: all;
  color: rgb(var(--primary));
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  section.footer .footer-right p,
  section.footer .footer-right a {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 479px) {
  section.footer .footer-right p,
  section.footer .footer-right a {
    font-size: 1.8vw;
    font-family: "Vietnam", sans-serif;
    font-weight: 1000;
  }
}
section.footer .footer-right p:hover,
section.footer .footer-right a:hover {
  color: rgb(var(--tertiary));
}

/*# sourceMappingURL=styles.css.map */
