// ................................
// ................................ ABOUT
// ................................

section.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10vh;
  img {
    z-index: 2;
  }

  .about {
    &__left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 100%;
      width: 50%;
      padding-left: 5vw;
    }
    &__right {
      height: 100%;
      width: 50%;
    }
  }
}
