:root {
  --tile-size: 5vw; /* Set default tile size */
  --primary: 240, 240, 229;
  --secondary: 79, 38, 233;
  --tertiary: 217, 242, 79;
  --background: 31, 31, 31;
}

.primary {
  background-color: rgb(var(--primary)) !important;
}
.secondary {
  background-color: rgb(var(--secondary)) !important;
}
.tertiary {
  background-color: rgb(var(--tertiary)) !important;
}
.background {
  background-color: rgb(var(--background)) !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
}

html,
body {
  user-select: none;
  // scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(var(--background));
  position: relative;
  color: rgb(var(--primary));
  font-family: "Vietnam";
}

body::-webkit-scrollbar {
  display: none;
}

main {
  pointer-events: none;
  z-index: 2;
  position: relative;
}

.null-display {
  display: none;
  @include noview {
    background-color: rgb(var(--background));
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    h2 {
      color: rgb(var(--tertiary));
    }
  }
  @include phone {
    display: none;
  }
}

@include tab {
  .tippy-content {
    display: none;
  }
}
