:root {
  --tile-size: 5vw; /* Set default tile size */
  --primary: 242, 232, 222;
  --secondary: 79, 38, 233;
  --tertiary: 217, 242, 79;
  --background: 31, 31, 31;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
}

html,
body {
  user-select: none;
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(var(--background));
  position: relative;
  color: rgb(var(--primary));
  font-family: "Vietnam";
}

body::-webkit-scrollbar {
  display: none;
}

main {
  pointer-events: none;
  z-index: 2;
  position: relative;
}

.cutout {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
