section.legal {
  width: 100%;
  padding: 0 5vw;

  gap: 5vw;
  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5vw;
    h2 {
      text-align: left;
      width: 75%;
      padding-bottom: 3vh;
      @include phone {
        width: 100%;
        padding-bottom: 1vh;
      }
    }
    text-align: justify;
    p {
      width: 75%;
      margin: 0 auto;
      @include phone {
        width: 100%;
        padding-bottom: 5vh;
      }
      a {
        pointer-events: all;
        color: rgb(var(--tertiary));
        text-decoration: none;
        cursor: pointer;
      }
    }
    ul {
      width: 75%;
      font-size: 1.2vw;
      @include bigtab {
        font-size: 1.4vw;
      }
      @include phone {
        width: 100%;
        font-size: 3.2vw;
        padding-bottom: 5vh;
      }
    }
  }
}
