canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}

// .................transition
// .................transition
// .................transition
// .................transition
// .................transition

ul.transition {
  display: flex;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  list-style: none;
  & li {
    background-color: rgb(var(--secondary));
    width: 20%;
    transform: scaleY(0);
  }
}

// .................img-box
// .................img-box
// .................img-box
// .................img-box
// .................img-box
.img-box-clicked {
  height: 6vh !important;
}
.img-box-container-clicked {
  height: auto !important;
}
.toggle-container-clicked {
  height: 7.5vh !important;
  @include phone {
    height: 5.25vh !important;
  }
}

.img-clicked {
  height: 0vh !important;
  padding: 0 !important;
}
.img-content-clicked {
  height: 0vh !important;
  display: none;
}

.nav-toggle-container-clicked {
  height: 7.5vh !important;
  @include bigtab {
    width: 20vw !important;
    &::after {
      content: "" !important;
    }
    & > .nav-title {
      display: flex !important;
      margin: 0 auto;
    }
  }
  @include phone {
    width: 40vw !important;
  }
}

.nav-ul-clicked {
  visibility: hidden;
  opacity: 0;
  @include bigtab {
    visibility: visible;
    opacity: 1;
    display: flex !important;
  }
}
.img-box {
  width: 20vw;
  height: 50vh;
  pointer-events: all !important;
  @include bigtab {
    width: 30vw;
  }
  @include phone {
    width: 40vw;
    height: 35vh;
  }
  &-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0px;
    background-color: rgb(var(--background));
    color: rgb(var(--tertiary));
    text-transform: uppercase;
    font-family: "Fivo", sans-serif;
    .minus {
      height: 0% !important;
    }

    .toggle-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 7.5vh;
      pointer-events: all;
      @include phone {
        height: 5.25vh;
      }
      &:hover {
        background-color: rgb(var(--secondary)) !important;
        color: rgb(var(--primary)) !important;
      }

      .img-cut {
        margin: 0vh 1vh;
        @include bigtab {
          font-size: 2vw;
        }
      }
      .img-title {
        font-size: 1vw;
        font-weight: 1000;
        margin: 0vh 1vh;
        background-color: transparent;
        @include bigtab {
          font-size: 2vw;
        }
      }
    }
    .toggle-container-clicked + .img {
      // display: none !important;
      visibility: hidden;
      opacity: 0;
    }

    .toggle-container-clicked ~ .img-content {
      // display: none !important;
      visibility: hidden;
      opacity: 0;
    }

    .img-content {
      font-size: 0.8vw;
      font-weight: 100;
      font-family: "Vietnam", sans-serif;
      text-transform: none;
      display: inline-block;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7.5vh;
      color: rgb(var(--primary));
      @include bigtab {
        font-size: 1.2vw;
      }
      @include phone {
        height: 5.25vh;
        font-size: 1.6vw;
      }
    }
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35vh;
      @include phone {
        height: 24.5vh;
      }
      position: relative;
      overflow: hidden;

      &-src {
        padding-top: 50%;
        padding-bottom: 50%;
      }
      img {
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
      span {
        font-size: 3.2vw;
      }

      color: rgb(var(--background));
    }
  }
}

// ................................
// ................................ CURSOR TEXT
// ................................
.cursor-hover {
  font-size: 0.8vw;
  padding: 0.4vw 0.4vw;
  font-family: "Fivo", sans-serif;
  font-weight: 1000;
  background-color: rgb(var(--tertiary));
  color: rgb(var(--background));
  z-index: 1000;
  text-transform: uppercase;
  pointer-events: all;
}

.tippy-box[data-theme~="custom"] {
  background-color: rgb(var(--tertiary));
  color: rgb(var(--background));
  font-size: 0.8vw;
  font-family: "Fivo", sans-serif;
  z-index: 1000;
  border-radius: 0px;
  text-transform: uppercase;
}

// ...........................
.btn-reveal {
  position: fixed;
  // margin-top: 50vh;
  top: 50vh;
  left: 50vw;
  // margin-left: 50vw;
  transform: translate(-50%, -50%) !important;
  color: rgba(var(--primary), 1);
  z-index: 220;
  background: none;
  border: none;
  outline: none;
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 4vw;
  cursor: pointer !important;
  font-family: "Fivo Sans Modern";
  pointer-events: all;
  @include bigtab {
    font-size: 6vw;
  }
}

.text-container {
  display: flex;
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100%;
  list-style: none;
}
.text-container li {
  background: rgb(var(--secondary));
  width: 20%;
  transform: scaleY(1);
}

.text-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  z-index: 210;
  @include bigtab {
    line-height: 0;
  }
}

.text {
  width: 300%;
  font-family: "Fivo Sans Modern";
  font-size: 4vw;
  text-transform: uppercase;
  opacity: 0.1;
  overflow: visible;
  white-space: nowrap;
  color: rgb(var(--primary));
  @include tab {
    font-size: 6vw;
  }
  @include phone {
    font-size: 14vw;
  }
}
//

canvas {
  @include phone {
    display: none;
    visibility: hidden;
  }
}
