<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- links-->
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/styles.css">
  <link rel="stylesheet" media="screen" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css">
  <!-- scripts-->
  <script src="https://unpkg.com/@barba/core"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
  <script defer src="../static/js/app.js"></script>
</head>
<!-- -->
<!-- -->
<!-- -->
<body data-barba="wrapper" data-scroll-container="" id="scroll-container">
  <!-- tiles-->
  <div id="tile-container"></div>
  <!-- transition-->
  <ul class="transition" data-scroll data-scroll-sticky data-scroll-target="#scroll-container">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!-- navigation-->
  <nav data-scroll data-scroll-sticky data-scroll-target="#scroll-container"><span>dashboard</span>
    <ul>
      <li><a href="../templates/index.html">Home</a></li>
      <li><a href="../templates/about.html">Events</a></li>
      <li><a href="../templates/about.html">About Us</a></li>
      <li><a href="../templates/about.html">Contact</a></li>
    </ul>
  </nav>
  <!-- main with sections-->
  <main data-barba="container" data-barba-namespace="index">
    <section class="carousel"><img class="cutout l" src="../temporary/cutoutl.svg" alt="vectors" srcset="">
      <ul> 
        <li>
          <h1>list item 1</h1>
        </li>
        <li>
          <h1>list item 2</h1>
        </li>
        <li>
          <h1>list item 1</h1>
        </li>
        <li>
          <h1>list item 4</h1>
        </li>
      </ul>
    </section>
    <section class="about">
      <div class="about__left">
        <h4>our journey</h4>
        <h2>where it all began</h2>
      </div>
      <div class="about__right"><img src="../static/img/sample_img.png"></div>
    </section>
  </main>
</body>