{% extends 'main.html' %} {% load static %}

<!-- title of the page -->
{% block title %} Our Journey {% endblock %}
<!--  -->
{% block content %}

<!-- main with sections-->
<main>
  <!-- splide carousel -->
  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
        <li class="splide__slide">About</li>
        <li class="splide__slide">Algocs</li>
      </ul>
    </div>
    <img class="cutout r" src="../static/img/cutoutr.svg" alt="cutout-right" />
  </section>

  <section class="about">
    <div class="about__left">
      <h4>our journey</h4>
      <h2>where it all began</h2>
      <p>
        I am building FOUNDATION for the FUTURE in the form of ALGOCS. I have
        started with an intent to support others in developing consistency in
        learning, by providing everybody with equal opportunities and bridging
        the gap between Tier-1 & Tier-3 colleges.
        <br />
        <br />
        It all started on a Saturday in Summer'21 when I saw myself getting
        confused about what to do whether to join a GFG course, cn course or
        learn from youtube through apni Kaksha or code with Harry.
        <br />
        <br />
        Then I contacted my friends, and what I got to know was that we were all
        in the same boat.
        <br />
        <br />
        I started my research for what's the most important thing to learn for
        CS grads. I surfed on the web through 100s of sites and YouTube videos,
        and then I contacted seniors at IITs and started to connect with
        professionals in the field.
        <br />
        <br />
        And to my amusement, they all pointed to 2 things.
        <br />
        1. DSA & CP <br />2. Development
        <br />
        <br />

        I had CS in my class 11th-12th, so I had a good understanding of the
        basics. I realized that others who didn't have this background were
        struggling, especially with C/C++ concepts. I started teaching in my
        college and reached out to my class 12th friends, eventually expanding
        to cover IITD, DTU, NSUT, and IIITD. I also shared my teaching idea with
        WhatsApp groups of BITS Pilani, MAIT, IITB, and IITK, and they were
        supportive. It all started as a dream, never imagining having a website
        or teaching through Google Meet. This unexpected journey happened by
        chance, and I never expected you to read this.
      </p>
    </div>
    <div class="about__right">
      <div
        class="img-box hoverable"
        data-trailer-content="Bring Up"
        tabindex="0"
      >
        <div class="img-box-container" tabindex="0">
          <div class="toggle-container">
            <div class="img-cut">-</div>
            <div class="img-title">Anmol Wadhwa</div>
          </div>
          <div class="img primary">
            <img
              src="{% static 'img/anmol1.jpg' %}"
              alt="image of anmol"
            /><span>text</span>
          </div>
          <div class="img-content">Founder of Algocs</div>
        </div>
      </div>
      <div
        class="img-box hoverable"
        data-trailer-content="Bring Up"
        tabindex="0"
      >
        <div class="img-box-container" tabindex="0">
          <div class="toggle-container">
            <div class="img-cut">-</div>
            <div class="img-title">Anmol Wadhwa</div>
          </div>
          <div class="img primary">
            <img
              src="{% static 'img/anmol2.jpg' %}"
              alt="image of jappreet"
            /><span>text</span>
          </div>
          <div class="img-content">Founder of Algocs</div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>
{% endblock %}
