<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- links-->
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/styles.css">
  <!-- scripts-->
  <script defer src="https://unpkg.com/@barba/core"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <script defer src="../static/js/app.js"></script>
</head>
<!-- -->
<!-- -->
<!-- -->
<body data-barba="wrapper">
  <!-- tiles-->
  <div id="tile-container"></div>
  <!-- transition-->
  <ul class="transition">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!-- navigation-->
  <nav><span>dashboard</span>
    <ul>
      <li><a href="../templates/index.html">Home</a></li>
      <li><a href="../templates/about.html">Events</a></li>
      <li><a href="../templates/about.html">About Us</a></li>
      <li><a href="../templates/about.html">Contact</a></li>
    </ul>
  </nav>
  <!-- main with sections-->
  <main data-barba="container" data-barba-namespace="index">
    <section class="hero">
      <h4>This&nbsp;is&nbsp;algocs</h4>
      <h1><span class="color">build
          <svg viewbox="0 0 10 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="m3.871 8.473 1.819.255.225-1.604-.064-1.1.016-.107.099.069.727.838 1.278.998 1.13-1.45-1.277-.997-.994-.495-.1-.068.146-.061 1.065-.205 1.503-.607-.688-1.705-1.503.606-.93.606-.115.038.02-.133.363-1.04.226-1.604L4.999.451l-.226 1.605.064 1.1-.023.16-.122-.1-.7-.834-1.278-.997-1.131 1.45 1.278.997.967.49.122.1-.114.038-1.092.2-1.503.607.687 1.706 1.503-.607.93-.606.115-.038-.015.107-.364 1.04-.226 1.604Z"></path>
          </svg></span>your</h1>
      <h1>path to</h1>
      <h1>success</h1>
    </section>
    <section class="carousel"><img class="cutout" src="../temporary/cutout.svg" alt="vectors" srcset="">
      <ul> 
        <li>
          <h1>list item 1</h1>
        </li>
        <li>
          <h1>list item 2</h1>
        </li>
        <li>
          <h1>list item 1</h1>
        </li>
        <li>
          <h1>list item 4</h1>
        </li>
      </ul>
    </section>
    <section class="sessions"></section>
  </main>
</body>