{% extends 'main.html' %} {% load static %} {% block content %}

<!-- main with sections-->
<main>
  <section class="hero">
    <h4>
      <div class="overflow">
        <div class="slide-in">This &nbsp;</div>
      </div>
      <div class="overflow">
        <div class="slide-in">is &nbsp;</div>
      </div>
      <div class="overflow">
        <div class="slide-in">algocs</div>
      </div>
    </h4>
    <h1>
      <span class="color">
        <svg
          class="color-svg hoverable"
          data-trailer-content=":)"
          viewbox="0 0 10 10"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m3.871 8.473 1.819.255.225-1.604-.064-1.1.016-.107.099.069.727.838 1.278.998 1.13-1.45-1.277-.997-.994-.495-.1-.068.146-.061 1.065-.205 1.503-.607-.688-1.705-1.503.606-.93.606-.115.038.02-.133.363-1.04.226-1.604L4.999.451l-.226 1.605.064 1.1-.023.16-.122-.1-.7-.834-1.278-.997-1.131 1.45 1.278.997.967.49.122.1-.114.038-1.092.2-1.503.607.687 1.706 1.503-.607.93-.606.115-.038-.015.107-.364 1.04-.226 1.604Z"
          ></path>
        </svg>
        <div class="overflow overflow-build">
          <div class="slide-in-in">build</div>
          <div class="check"></div></div
      ></span>
      <div class="overflow">
        <div class="slide-in-in">your</div>
      </div>
    </h1>
    <h1>
      <div class="overflow">
        <div class="slide-in-in">path</div>
      </div>
      <div class="overflow">
        <div class="slide-in-in">to</div>
      </div>
    </h1>
    <h1>
      <div class="overflow">
        <div class="slide-in-in">success</div>
      </div>
    </h1>
  </section>

  <!-- splide carousel -->
  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">Form</li>
        <li class="splide__slide">Hone</li>
        <li class="splide__slide">Grow</li>
        <li class="splide__slide">Rise</li>
        <li class="splide__slide">Form</li>
        <li class="splide__slide">Hone</li>
        <li class="splide__slide">Grow</li>
        <li class="splide__slide">Rise</li>
      </ul>
    </div>
    <img class="cutout l" src="../static/img/cutoutl.svg" alt="cutout-left" />
  </section>

  <!-- sessions -->
  <section class="sessions">
    <h4>why you need us</h4>
    <h2>we host sessions on</h2>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">c++</div>
        </div>
        <div class="img primary"><span>c++</span></div>
        <div class="img-content">
          Master the concepts of ARRAYS, POINTERS, FUNCTIONS, STRUCTURES &
          CLASS(C++).
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">dsa</div>
        </div>
        <div class="img secondary"><span>dsa</span></div>
        <div class="img-content">
          Solve LEETCODE Problems and Create your account on CODECHEF &
          CODEFORCES.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">ml</div>
        </div>
        <div class="img tertiary"><span>ml</span></div>
        <div class="img-content">
          Learn PYTHON, OPENCV, TENSORFOLW and create your account on KAGGLE.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">web dev</div>
        </div>
        <div class="img primary"><span>web dev</span></div>
        <div class="img-content">
          Begin with HTML, CSS, JAVASCRIPT and then Learn the REACT FRAMEWORK.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">linux</div>
        </div>
        <div class="img secondary"><span>linux</span></div>
        <div class="img-content">
          Learn the commands of Terminal and start with the popular UBUNTU
          DISTRIBUTION.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">git</div>
        </div>
        <div class="img tertiary"><span>git</span></div>
        <div class="img-content">
          Learn the BASH Commands, save all your CODES here and contribute to
          OPEN SOURCE.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">vs code</div>
        </div>
        <div class="img primary"><span>vs code</span></div>
        <div class="img-content">
          Learn to use VScode, it has alot of Useful Extensions, Shortcuts and
          is AVAILABLE for all Languages.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">linkeden</div>
        </div>
        <div class="img secondary"><span>linkedin</span></div>
        <div class="img-content">
          Make your Profile on LinkedIn, share your PROJECTS on it and make
          CONNECTIONS with others.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">gsoc</div>
        </div>
        <div class="img tertiary"><span>gsoc</span></div>
        <div class="img-content">
          Apply for Google's Internship Program. You'll be getting introduced to
          open source and also get stipend.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">flutter</div>
        </div>
        <div class="img primary"><span>flutter</span></div>
        <div class="img-content">
          With FLUTTER you can create Android Apps, iOS Apps, Web Apps and all
          with one language - DART.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">icpc</div>
        </div>
        <div class="img secondary"><span>icpc</span></div>
        <div class="img-content">
          Apply for world's most prestigious competitive programming
          competition. Stakes and Rewards both are high.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">database</div>
        </div>
        <div class="img tertiary"><span>database</span></div>
        <div class="img-content">
          Learn how to store the data in RDBMS & NonRDBMS in MONGODB and
          POSTGRES.
        </div>
      </div>
    </div>
    <div class="img-box hoverable" data-trailer-content="Bring Up">
      <div class="img-box-container">
        <div class="toggle-container">
          <div class="img-cut">-</div>
          <div class="img-title">sql</div>
        </div>
        <div class="img primary"><span>sql</span></div>
        <div class="img-content">
          How to data in databases? Come abord and learn SQL and NoSQL to master
          development.
        </div>
      </div>
    </div>
  </section>
  <section class="metrics">
    <h4>why choose ALGOCS</h4>
    <h2>our metrics speak</h2>
    <p class="subhead">
      We prioritize meaning over mere numbers, aiming to enrich your life with
      purpose and significance. Our mission focuses on delivering tangible and
      intangible benefits that enhance your overall well-being. We strive to
      create a positive impact, transcending quantitative measures and fostering
      a deep sense of value in your everyday experiences.
    </p>
    <div class="metrics-content">
      <div class="metrics-content--left">
        <div class="number">01</div>
        <div class="metrics-number">30+</div>
        <div class="metrics-title">Groups</div>
      </div>
      <div class="metrics-content--right">
        We foster a diverse range of over 30 groups, each offering unique
        opportunities for growth and connection. These communities empower
        individuals to collaborate, learn, and thrive together, embracing the
        richness of shared experiences. Join us as we embark on a collective
        journey towards personal and collective development.
      </div>
    </div>

    <div class="metrics-content">
      <div class="metrics-content--left">
        <div class="number">02</div>
        <div class="metrics-number">10,000+</div>
        <div class="metrics-title">Members</div>
      </div>
      <div class="metrics-content--right">
        Our vibrant community comprises over 10,000 members and continues to
        grow. We embrace diversity and inclusivity, fostering a supportive
        environment where individuals from all walks of life can connect,
        collaborate, and inspire one another. Together, we form a powerful
        network, united in our pursuit of personal and collective growth.
      </div>
    </div>
    <div class="metrics-content">
      <div class="metrics-content--left">
        <div class="number">03</div>
        <div class="metrics-number">100+</div>
        <div class="metrics-title">Sessions</div>
      </div>
      <div class="metrics-content--right">
        We offer a diverse range of over 100 sessions designed to inspire,
        educate, and empower. From workshops and seminars to interactive
        discussions and skill-building sessions, our programs cater to various
        interests and goals. Join us as we explore new horizons, exchange ideas,
        and create meaningful connections through our dynamic sessions.
      </div>
    </div>
    <div class="metrics-content">
      <div class="metrics-content--left">
        <div class="number">04</div>
        <div class="metrics-number">50+</div>
        <div class="metrics-title">Colleges</div>
      </div>
      <div class="metrics-content--right">
        Our extensive network spans across 50+ colleges, bringing together
        students, faculty, and staff from diverse educational institutions. By
        connecting these colleges, we foster collaboration, knowledge sharing,
        and a sense of community that transcends institutional boundaries. Join
        us as we bridge the gap between colleges and unlock new opportunities
        for growth and learning.
      </div>
    </div>
  </section>

  <!-- splide carousel -->
  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">Form</li>
        <li class="splide__slide">Hone</li>
        <li class="splide__slide">Grow</li>
        <li class="splide__slide">Rise</li>
        <li class="splide__slide">Form</li>
        <li class="splide__slide">Hone</li>
        <li class="splide__slide">Grow</li>
        <li class="splide__slide">Rise</li>
      </ul>
    </div>
    <img class="cutout r" src="../static/img/cutoutr.svg" alt="cutout-right" />
  </section>

  <section class="mail">
    <h4>connect with us</h4>
    <h2>become a part</h2>
    <div class="mailbox">
      <div class="mailbox--left">
        <p class="subhead">
          Connect with us to become a valued member of our community. We believe
          in creating meaningful connections and fostering a supportive
          environment for personal and collective growth. Join us on this
          transformative journey!
        </p>

        <form
          method="POST"
          class="form"
          data-swup-form
          class="mail-content"
          autocomplete="off"
        >
          {% csrf_token %} {% for field in form %}
          <!--  -->
          {{ field }}
          <!--  -->
          {% for error in field.errors %}
          <span style="color: red" class="field--errors">{{error}}</span>
          {% endfor %} {% endfor %}

          <button class="btn btn" data-label="Join Us">
            Join Us<span class="btn-bg-fixed"></span
            ><span class="btn-bg-slide"></span>
          </button>
        </form>
      </div>
      <div class="mailbox--right">
        <div class="picture-lib hoverable" data-trailer-content="Next">
          <div class="mg-box hoverable" data-trailer-content="Next">
            <div class="img-box-container">
              <div class="img primary">
                <img
                  src="{% static 'img/mail3.jpg' %}"
                  alt="image of jappreet"
                />
              </div>
            </div>
          </div>
          <div class="mg-box hoverable" data-trailer-content="Next">
            <div class="img-box-container">
              <div class="img secondary">
                <img
                  src="{% static 'img/mail2.jpg' %}"
                  alt="image of jappreet"
                />
              </div>
            </div>
          </div>
          <div class="mg-box hoverable" data-trailer-content="Next">
            <div class="img-box-container">
              <div class="img tertairy">
                <img
                  src="{% static 'img/mail1.jpg' %}"
                  alt="image of jappreet"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>
{% endblock %}
