{% extends 'main.html' %} {% load static %}

<!-- title of the page -->
{% block title %} Recent Collaborations {% endblock %}
<!--  -->

{% block content %}
<!-- main with sections-->
<main>
  <!-- splide carousel -->
  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">Recent</li>
        <li class="splide__slide">Collab</li>
        <li class="splide__slide">Recent</li>
        <li class="splide__slide">Collab</li>
        <li class="splide__slide">Recent</li>
        <li class="splide__slide">Collab</li>
        <li class="splide__slide">Recent</li>
        <li class="splide__slide">Collab</li>
      </ul>
    </div>
    <img class="cutout l" src="../static/img/cutoutl.svg" alt="cutout-left" />
  </section>
  <section class="recent-collab">
    <div class="collab-container">
      <div class="collab-img">
        <div class="img-box hoverable" data-trailer-content="Bring Up">
          <div class="img-box-container" tabindex="0">
            <div class="toggle-container" tabindex="0">
              <div class="img-cut">-</div>
              <div class="img-title">c++</div>
            </div>
            <div class="img primary">
              <img
                src="{% static 'img/partner1.jpg' %}"
                alt="image of anmol"
              /><span>text</span>
            </div>
            <div class="img-content">sample img</div>
          </div>
        </div>
      </div>
      <div class="collab-text">
        We're excited to announce that Algocs has been designated as the Digital
        Media Partner for Engifest'23. As a proud partner, we'll bring you
        engaging content and coverage of this incredible event. Stay tuned for
        an unforgettable digital experience at Engifest'23 with Algocs!
      </div>
    </div>
    <div class="collab-container">
      <div class="collab-img">
        <div class="img-box hoverable" data-trailer-content="Bring Up">
          <div class="img-box-container" tabindex="0">
            <div class="toggle-container" tabindex="0">
              <div class="img-cut">-</div>
              <div class="img-title">c++</div>
            </div>
            <div class="img secondary">
              <img
                src="{% static 'img/partner2.jpg' %}"
                alt="image of anmol"
              /><span>text</span>
            </div>
            <div class="img-content">sample img</div>
          </div>
        </div>
      </div>
      <div class="collab-text">
        Thrilled to announce that Algocs, our community, is the official partner
        for Rendezvous IITD, Asia's Biggest Fest by IIT Delhi. Grateful for the
        support received. Exciting opportunity to connect with a broader
        audience and contribute to Rendezvous' success.
      </div>
    </div>
    <div class="collab-container">
      <div class="collab-img">
        <div
          class="img-box hoverable"
          data-trailer-content="Bring Up"
          tabindex="0"
        >
          <div class="img-box-container" tabindex="0">
            <div class="toggle-container" tabindex="0">
              <div class="img-cut">-</div>
              <div class="img-title">c++</div>
            </div>
            <div class="img primary">
              <img
                src="{% static 'img/partner3.jpg' %}"
                alt="image of anmol"
              /><span>text</span>
            </div>
            <div class="img-content">sample img</div>
          </div>
        </div>
      </div>
      <div class="collab-text">
        We extend heartfelt gratitude to the collaborative communities of
        Flipkart, 0xPolygonLabs, and COE Buildershub Delhi for their invaluable
        support. Through these partnerships, we have gained valuable insights,
        technological advancements, and a thriving ecosystem, propelling our
        platform's growth and success.
      </div>
    </div>
    <div class="collab-container">
      <div class="collab-img">
        <div
          class="img-box hoverable"
          data-trailer-content="Bring Up"
          tabindex="0"
        >
          <div class="img-box-container" tabindex="0">
            <div class="toggle-container" tabindex="0">
              <div class="img-cut">-</div>
              <div class="img-title">c++</div>
            </div>
            <div class="img primary">
              <img
                src="{% static 'img/partner4.jpg' %}"
                alt="image of anmol"
              /><span>text</span>
            </div>
            <div class="img-content">sample img</div>
          </div>
        </div>
      </div>
      <div class="collab-text">
        Exciting news! We're thrilled to introduce our newest community partner,
        @AlgocsT. Together, we're creating a one-of-a-kind event experience for
        GDSC WOW DELHI NCR 2023. Stay tuned for updates on an incredible blend
        of laughter, knowledge, and good vibes. Get ready for an unforgettable
        time!
      </div>
    </div>
  </section>
  <section class="stats">
    <h4>dashboard</h4>
    <h2>check algostistics</h2>
    <div class="stats-container">
      <div class="stats-strip">
        <h3>which editor?</h3>
      </div>
      <div class="strip-container splide__track">
        <ul class="strip-list splide__list">
          <li class="splide__slide">vs code: 50%</li>
          <li class="splide__slide">figma: 30%</li>
          <li class="splide__slide">git bash: 12%</li>
          <li class="splide__slide">other: 8%</li>
          <li class="splide__slide">vs code: 50%</li>
          <li class="splide__slide">figma: 30%</li>
          <li class="splide__slide">git bash: 12%</li>
          <li class="splide__slide">other: 8%</li>
        </ul>
      </div>
    </div>
    <br />
    <div class="stats-container">
      <div class="stats-strip">
        <h3>what's clickin?</h3>
      </div>
      <div class="strip-container splide__track">
        <ul class="strip-list splide__list">
          <li class="splide__slide">mouse: 30%</li>
          <li class="splide__slide">keyboard: 60%</li>
          <li class="splide__slide">touchpad: 10%</li>
          <li class="splide__slide">stylus: 0%</li>
          <li class="splide__slide">mouse: 30%</li>
          <li class="splide__slide">keyboard: 60%</li>
          <li class="splide__slide">touchpad: 10%</li>
          <li class="splide__slide">stylus: 0%</li>
        </ul>
      </div>
    </div>
    <br />
    <div class="stats-container">
      <div class="stats-strip">
        <h3>preferred language</h3>
      </div>
      <div class="strip-container splide__track">
        <ul class="strip-list splide__list">
          <li class="splide__slide">django: 2%</li>
          <li class="splide__slide">html/pug: 37%</li>
          <li class="splide__slide">css/scss: 25%</li>
          <li class="splide__slide">js/other: 36%</li>
          <li class="splide__slide">django: 2%</li>
          <li class="splide__slide">html/pug: 37%</li>
          <li class="splide__slide">css/scss: 25%</li>
          <li class="splide__slide">js/other: 36%</li>
        </ul>
      </div>
    </div>
    <br />
    <div class="stats-container">
      <div class="stats-strip">
        <h3>what da dev doin?</h3>
      </div>
      <div class="strip-container splide__track">
        <ul class="strip-list splide__list">
          <li class="splide__slide">eat: 100%</li>
          <li class="splide__slide">sleep: 100%</li>
          <li class="splide__slide">code: 0%</li>
          <li class="splide__slide">repeat: 100%</li>
          <li class="splide__slide">eat: 100%</li>
          <li class="splide__slide">sleep: 100%</li>
          <li class="splide__slide">code: 0%</li>
          <li class="splide__slide">repeat: 100%</li>
        </ul>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</main>
{% endblock %}
